<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.XxfDao" >
<select id="queryDayCount" resultType="Highcharts">
    select * from Highcharts ORDER BY dayTime
</select>
    <select id="login" resultType="User">
        select * from t_user where username=#{username}
    </select>
<select id="queryHighcharts" resultType="Highcharts">
    SELECT * from highcharts WHERE dayTime=#{time}
</select>
<update id="updateHighcharts">
    update highcharts set visitCount=visitCount+1 where id=#{id}
</update>
    <insert id="addHighcharts" >
        insert into highcharts(dayTime,visitCount) values (#{daytime},#{visitcount})
    </insert>
    <select id="frontLogin" resultType="members">
        select * from members where username=#{username}
    </select>
    <insert id="addMembers">
        insert into members(username,password,mimg,phone,gender,type,nickname) values(#{username},#{password},#{mimg},#{phone},#{gender},#{type},#{nickname})
    </insert>
<select id="queryMembers" resultType="members">
    select * from members where phone=#{phone}
</select>
    <update id="updateMembers">
        update members set password=#{newpassword} where phone=#{phone}
    </update>
 
</mapper>