<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>

<form id="pro_from" class="form-inline">
    <div class="form-group">
        <select style="width: 200px;"  class="form-control" id="commodityType"></select>
        <select style="width: 200px;"  class="form-control" id="status"></select>
        <select style="width: 200px;"  class="form-control" id="is">
            <option value="0">全部</option>
            <option value="1">新品</option>
            <option value="2">热销</option>
        </select>
        <input type="text" class="form-control"  id="commodityName" placeholder="商品名称">
    </div>
    <button type="button" style="size: A3" class="btn btn-success" onclick="queryData()">搜索</button>
    <button type="button" style="size: A3" class="btn btn-success" onclick="reset()">重置</button>
</form>

<!--  表格 -->
<table id="dataGrid" ></table>
</body>
<script type="text/javascript">
    $(function(){

        initDataGrid();
        loadCommodityType();
        loadStatus();
        queryAllDran();
    });

    //查询商品
    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            url: "../zch/queryCommodity",
            method: 'post',
            striped: true,  	         // 斑马线效果     默认false
            singleSelect: false,        //只允许选中一行
            clickToSelect: true,
            showToggle: true,           //是否显示详细视图和列表视图的切换按钮
            cardView: false,            //是否显示详细视图
            uniqueId: "clientId",             //每一行的唯一标识，一般为主键列
            showColumns: true,          //是否显示所有的列
            showRefresh: true,          //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,          //是否显示父子表
            toolbar: '#tabToolBar',     //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true,           //是否展示分页
            pageList: [2, 4, 8, 10],    //分页组件
            pageNumber: 1,
            pageSize: 2,                //默认每页条数
            searchOnEnterKey: true,     //启动回车键做搜索功能
            sortable: true,             //设置为false 将禁止所有列的排序。
            sortName: 'clientId',             //设置默认排序为 name,直接对应数据库的字段
            sortOrder: "desc",          //定义排序方式，'asc' 或者 'desc'。
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            // 请求服务器数据可以往后台传参
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,//当前页
                    pageSize: params.pageSize,//每页条数
                    typeIds:$("#commodityType").val(),
                    commodityName:$("#commodityName").val(),
                    status:$("#status").val(),
                    is:$("#os").val(),
                    dran:$("#dran").val(),
                };
                return param;
            },
            columns: [
                {field: 'ckAll', checkbox: true},  //开启复选框
                {field:'id',title:'编号'},
                {field:'commodityName',title:'商品名称'},
                {field:'artNo',title:'商品货号'},
                {field:'commodityPrice',title:'价格'},
                {field:'status',title:'上架',formatter:function(value,row,index){
                    var status
                        if(value==1){
                            status = "✔";
                            return "<font color='royalblue'>"+status+"</font>";
                        }else {
                            status = "×";
                            return "<font color='crimson'>"+status+"</font>";
                        }

                    }},
                {field:'newProduct',title:'新品',formatter:function(value,row,index){
                    var newProduct
                        if(value==1){
                            newProduct = "✔";
                            return "<font color='royalblue'>"+newProduct+"</font>";
                        }else{
                            newProduct = "×";
                            return "<font color='crimson'>"+newProduct+"</font>";
                        }

                    }},
                {field:'selllikeHotCakes',title:'热销',formatter:function (value,row,index) {
                        var selllikeHotCakes
                        if(value==2){
                            selllikeHotCakes = "✔";
                            return "<font color='royalblue'>"+selllikeHotCakes+"</font>";

                        }else{
                            selllikeHotCakes = "×";
                            return "<font color='crimson'>"+selllikeHotCakes+"</font>";
                        }
                    }},

                {field:'inventory',title:'库存'},
                {field:'pictureUrl',title:'图片',formatter:function (value,row,index) {
                        //return "<img alt='"+value+"' height='50' width='50'>"//return "<img src='../"+value+"' height='50' width='50'>";

                        return "<div class=\"container-fluid\">\n" +
                            "                            <div class=\"row-fluid\">\n" +
                            "                            <div class=\"span12\">\n" +
                            "                            <img alt=\"140x140\" src='../"+value+"' />\n" +
                            "                            </div>\n" +
                            "                            </div>\n" +
                            "                            </div>";
                    }},
                {field:'typeName',title:'类型'},
                {field:'zc',title:'操作',formatter:function(value,row,index){
                        return "<button type='button' style='size: A3' class='btn btn-success' onclick='upd("+row.id+")'>修改</button>";
                    }},
            ]
        });
    }


    //重置
    function reset(){
        initDataGrid();
    }

    //条件查询
    function queryData(){
        alert($("#dran").val());
        $("#dataGrid").bootstrapTable("refresh", {
            "query": {
                "commodityName": $("#commodityName").val(),
                "typeIds":$("#commodityType").val(),
                "status":$("#status").val(),
                "is":$("#is").val(),
                "dran":$("#dran").val(),
            }
        });

    }

    //查询所有品牌
    function queryAllDran(){
        var zt = "a";
        $.ajax({
            url:"../zch/queryAllDran",
            type:"post",
            dataType:"json",
            data:{zt:zt},
            success:function(data){
                var html = "<option value=''>所有品牌</option>";
                for(var i=0;i<data.length;i++){
                    html+="<option value='"+data[i].name+"'>"+data[i].name+"</option>";
                }

                $("#dran").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }

    //修改
    function upd(id){
        location.href="../zch/loadOneModel?id="+id;
    }


    //查询上下架
    function loadStatus(){
        $.ajax({
            url:"../zch/queryStatus",
            type:"post",
            dataType:"json",
            success:function(data){
                var html = "<option value=''>全部</option>";
                for(var i=0;i<data.length;i++){
                    if(data[i].status==1){
                        status = "上架";
                        html+="<option value='"+data[i].status+"'>"+status+"</option>";
                    }else{
                        status = "下架";
                        html+="<option value='"+data[i].status+"'>"+status+"</option>";
                    }

                }

                $("#status").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }

    //查询商品类型
    function loadCommodityType(){
        $.ajax({
            url:"../zch/queryCommodityType",
            type:"post",
            data:{},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>所有分类</option>";
                for(var i=0;i<data.length;i++){
                    html+="<option value='"+data[i].typeId+"'>"+data[i].typeName+"</option>";
                }

                $("#commodityType").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }


</script>
</html>