<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<!--  表格 -->
<table id="dataGrid" ></table>
</body>
<script>
    $(function(){

        initDataGrid();

    });

    //查询品牌
    function initDataGrid() {
        $("#dataGrid").bootstrapTable({
            url: "../zch/queryDran",
            method: 'post',
            striped: true,  	         // 斑马线效果     默认false
            singleSelect: false,        //只允许选中一行
            clickToSelect: true,
            showToggle: true,           //是否显示详细视图和列表视图的切换按钮
            cardView: false,            //是否显示详细视图
            uniqueId: "clientId",             //每一行的唯一标识，一般为主键列
            showColumns: true,          //是否显示所有的列
            showRefresh: true,          //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,          //是否显示父子表
            toolbar: '#tabToolBar',     //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            columns: [
                {field: 'ckAll', checkbox: true},  //开启复选框
                {field:'id',title:'品牌Id'},
                {field:'name',title:'品牌名称'},
                {field:'introduction',title:'品牌描述',formatter:function(value,row,index){
                    return "<a href='javascript:queryDescribe("+row.id+")'>描述</a>";
                    }},
                {field:'zc',title:'操作',formatter:function(){
                    return "<button type='button' style='size: A3' class='btn btn-success' >修改</button>";
                }},
            ]
        });
    }

    //跳转弹框
    var res;
    function createAddContent(url) {
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }
    //查询描述
    function queryDescribe(id) {
        //打开新增弹框
        bootbox.dialog({
            title: '描述',
            message: createAddContent("../toshow/toDescribe?id="+id),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "cancel": {
                    "label": "<i class='icon-info'></i> 关闭",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });
    }
</script>
</html>