<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="keywords" content="首页" />
    <meta name="description" content="首页" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
</head>
<body>
<input type="hidden" id="ids" th:value="${ids}">
<div class="showall">
    <!--left -->
    <div class="showbot">
        <div id="showbox">


            <img id="pictureUrl" src="" height="400" width="400"/>


        </div><!--展示图片盒子-->
        <div id="showsum">
            <!--展示图片里边-->
        </div>
        <p class="showpage">
            <a href="javascript:void(0);" id="showlast"> < </a>
            <a href="javascript:void(0);" id="shownext"> > </a>
        </p>
    </div>
    <!--conet -->
    <div class="tb-property">
        <div class="tr-nobdr">
            <h3><span id = "commodityName"></span></h3>
        </div>
        <div class="txt">
            <span class="nowprice">￥<span id="commodityPrice"></span></span>
            <div class="cumulative">
                <span class="number ty1">累计售出<br /><em id="add_sell_num_363"><span id="sellquantity"></span></em></span>
                <span class="number tyu">累计评价<br /><em id="add_sell_num_363">25</em></span>
            </div>
        </div>
        <div class="txt-h">
            <span class="tex-o">可选择颜色</span>
            <ul class="glist" id="glist" data-monitor="goodsdetails_fenlei_click">
                <li>
                    <span id="colorName">
                        红色：<input type="radio" name="cName" value="红色">
                        黑色：<input type="radio" name="cName" value="黑色">
                        白色：<input type="radio" name="cName" value="白色">
                        蓝色：<input type="radio" name="cName" value="蓝色">
                    </span>
                </li>
            </ul>
        </div>
        可选择内存 &nbsp;&nbsp;
        <span id="memory">
                        <span id="m0"></span>:<input type="radio" id="me0" name="ab" value="" onclick="internal(this.value)">
                        <span id="m1"></span>:<input type="radio" id="me1" name="ab" value="" onclick="internal(this.value)">
                        <span id="m2"></span>:<input type="radio" id="me2" name="ab" value="" onclick="internal(this.value)">
                        <span id="m3"></span>:<input type="radio" id="me3" name="ab" value="" onclick="internal(this.value)">
        </span>
        <script>
            $(document).ready(function(){
                var t = $("#text_box");
                $('#min').attr('disabled',true);
                $("#add").click(function(){
                    t.val(parseInt(t.val())+1)
                    if (parseInt(t.val())!=1){
                        $('#min').attr('disabled',false);
                    }

                })
                $("#min").click(function(){
                    t.val(parseInt(t.val())-1);
                    if (parseInt(t.val())==1){
                        $('#min').attr('disabled',true);
                    }

                })
            });
        </script>
        <div class="gcIpt">
            <span class="guT">数量</span>
            <input id="min" name="" type="button" value="-" onclick="plus()"/>
            <input id="text_box" name="tory" type="text" value="1"style="width:30px; text-align: center; color: #0F0F0F;" />
            <input id="add" name="" type="button" value="+" onclick="queryOneDetails()"/>

            <span class="Hgt" id="inventory"></span>
            <input type="hidden" id="inventory2">
        </div>
        <div class="nobdr-btns">
            <button class="addcart hu" onclick="shoppingTrolley()"><img src="../images/shop.png" width="25" height="25"/>加入购物车</button>
            <button class="addcart yh" onclick="buy()"><img src="../images/ht.png" width="25" height="25"/>立即购买</button>
        </div>
        <div class="guarantee">
            <span>邮费：包邮&nbsp;&nbsp;支持货到付款 <a href=""><img src="../images/me.png"/></a></span>
        </div>
    </div>
    <!--right -->
    <div class="extInfo">
        <div class="brand-logo">
            <a href="" title="奥影汽车影音">
                <img src="../images/ho_03.png"/>
            </a>
        </div>
        <div class="seller-pop-box">
            <span class="tr">商家名称：奥影汽车影音奥影汽车影音奥影汽车影音</span>
            <span class="tr">商家等级：初级店铺</span>
            <span class="tr">客家电话：15012365897</span>
            <span class="tr hoh">
            	            		<a title="河南郑州市航海路57号河南郑州市航海路57号" href="">所在地区：河南郑州市航海路57号河南郑州市航海路57号</a>
            	            	</span>
        </div>
        <div class="seller-phone">
            	            	<span class="pop im">
            	            		<a href="" data-name="联系卖家"><img src="../images/phon.png"/>联系卖家</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="咨询卖家"><img src="../images/qq.png"/>咨询卖家</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="进店逛逛"><img src="../images/shop-line.png"/>进店逛逛</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="关注店铺"><img src="../images/staar.png"/>关注店铺</a>
            	            	</span>
        </div>
        <div class="jd-service">
            <a href="">
                <img src="../images/ho_07.png"/>
            </a>
        </div>
        <div class="suport-icons">
            <h4>扫一扫<br />手机下单更优惠</h4>
            <img src="../images/ho_11.jpg"/>
        </div>
    </div>
</div>
<!-- 推荐搭配 -->
<div class="gdetail">
    <div class="dp_wrap_title">
        推荐搭配
    </div>
    <div class="dp_wrap">
        <!-- 结算 -->
        <div class="dq_total_wrap">
            <div class="icon_equal">
                =
            </div>
            <div class="dp_num">已经选择0个配件
                <p class="dq_price">总计<span id="commodityPrice"></span>元</p>
                <button class="get">立即购买</button>
            </div>
        </div>
        <!-- 搭配1 -->
        <div class="dq_ori">
            <a class="dq_ori_prd" href=""><img id="0" src="../images/hdy_07.png"/></a>
            <a class="ori_prd" href=""><span id="name0"></span></a>
            <p class="ori_prd dp_wrap_pprice_ori">
                <input type="checkbox" name="partsPr" id="par0"  onclick="accumulation(0)">
                ￥<span id="pri0"></span>
            </p>
        </div>
        <div class="scroll_wrap">
            <!-- 搭配2 -->
            <div class="dp_prd">
                <div class="icon_plus">+</div>
                <div class="dp_p_wrap">
                    <a class="dp_wrap_pimg" href="" target="_blank"><img id="1" src="../images/list_10.jpg"/></a>
                    <a class="dp_wrap_pname" href="" target="_blank"><span id="name1"></span></a>
                    <p class="dp_wrap_pprice">
                        <label>
                            <input type="checkbox" name="partsPr" id="par1"  onclick="accumulation(1)">
                            ￥<span id="pri1"></span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- 搭配3 -->
            <div class="dp_prd">
                <div class="icon_plus">+</div>
                <div class="dp_p_wrap">
                    <a class="dp_wrap_pimg" href="" target="_blank"><img id="2" src="../images/hdy_09.png"/></a>
                    <a class="dp_wrap_pname" href="" target="_blank"><span id="name2"></span></a>
                    <p class="dp_wrap_pprice">
                        <label>
                            <input type="checkbox" name="partsPr" id="par2" onclick="accumulation(2)">
                            ￥<span id="pri2"></span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- 搭配4 -->
            <div class="dp_prd">
                <div class="icon_plus">+</div>
                <div class="dp_p_wrap">
                    <a class="dp_wrap_pimg" href="" target="_blank"><img id="3" src="../images/list_03.jpg"/></a>
                    <a class="dp_wrap_pname" href="" target="_blank"><span id="name3"></span></a>
                    <p class="dp_wrap_pprice">
                        <label>
                            <input type="checkbox" name="partsPr" id="par3" onclick="accumulation(3)" >
                            ￥<span id="pri3"></span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- 产品结束 -->
        </div>
    </div>
</div>

<!-- 商品介紹 -->
<div class="gdetail">
    <!-- left -->
    <div class="aside">
        <h3>看了还看<span><img src="../images/fod.png"width="22" height="22"/>换一批</span></h3>
        <dl class="ac-mod-list">
            <dt><a href=""><img src="../images/hdy_09.png"/></a></dt>
            <dd>
                O2+车载空气净化器DM2
                <span>￥99</span>
            </dd>
        </dl>
        <dl class="ac-mod-list">
            <dt><a href=""><img src="../images/hdy_07.png"/></a></dt>
            <dd>
                O2+车载空气净化器DM2
                <span>￥99</span>
            </dd>
        </dl>
        <dl class="ac-mod-list">
            <dt><a href=""><img src="../images/hdy_11.jpg"/></a></dt>
            <dd>
                O2+车载空气净化器DM2
                <span>￥99</span>
            </dd>
        </dl>
    </div>
    <!-- right -->
    <script>
        var detail = document.querySelector('.detail');
        var origOffsetY = detail.offsetTop;
        function onScroll(e) {
            window.scrollY >= origOffsetY ? detail.classList.add('sticky') :
                detail.classList.remove('sticky');
        }
        document.addEventListener('scroll', onScroll);
    </script>
    <div class="detail">
        <div class="active_tab" id="outer">
            <ul class="act_title_left" id="tab">
                <li class="act_active">
                    <a href="#">规格参数</a>
                </li>
                <li>
                    <a href="#">商品介绍</a>
                </li>
                <li>
                    <a href="#">商品评价</a>
                </li>
                <li>
                    <a href="#">售后保障</a>
                </li>
            </ul>
            <ul class="act_title_right">
                <li class="mui">
                    <a id="mui-a" href="#">扫手机下单+</a>
                </li>
                <li class="mui-ac">
                    <a href="#">加入购物车</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="content" class="active_list">
            <!--0-->
            <div id="ui-a" class="ui-a">
                <ul style="display:block;">
                    <li>商品名称：<span id="spName"></span></li>
                    <li>商品编号：<span id="serial"></span></li>
                    <li>品牌：<span id="brandName"></span></li>
                    <li>上架时间：<span id="createDate"></span></li>
                    <li>商品毛重：20克</li>
                    <li>库存： <span id="inventoryCount"></span> </li>
                    <li><img src="../images/ko-1.jpg"/></li>
                    <li><img src="../images/ko-2.jpg"/></li>
                    <li><img src="../images/ko.jpg"/></li>
                    <li><img src="../images/ko-1.jpg"/></li>
                </ul>
            </div>
            <!--商品规格-->
            <div id="bit" class="bit">
                <ul style="display:none;">
                    <li><img src="../images/ko-1.jpg"/></li>
                    <li><img src="../images/ko-2.jpg"/></li>
                    <li><img src="../images/ko.jpg"/></li>
                    <li><img src="../images/ko-1.jpg"/></li>
                    <li><img src="../images/ko-2.jpg"/></li>

                </ul>
            </div>

            <!--商品评价-->

            <div id="ui-c" class="ui-c">
                <ul style="display:none;">

                </ul>
            </div>
            <!--售后保障-->
            <div id="uic" class="uic">
                <ul style="display:none;">
                    <p>商品名称：仙人指路道镜前后双录智能后视镜导航仪行车记录仪后视预警一体机</p>
                    <p>商品编号：ECS001983</p>
                    <p>品牌:威力马哈国产</p>
                    <p>上架时间：2016-05-24</p>
                    <span><img src="../images/ko-1.jpg"/></span>
                    <span><img src="../images/ko-2.jpg"/></span>
                </ul>
            </div>
        </div>
        <script>
            $(function(){
                window.onload = function()
                {
                    var $li = $('#tab li');
                    var $ul = $('#content ul');

                    $li.mouseover(function(){
                        var $this = $(this);
                        var $t = $this.index();
                        $li.removeClass();
                        $this.addClass('act_active');
                        $ul.css('display','none');
                        $ul.eq($t).css('display','block');
                    })
                }
            });
        </script>
    </div>
</div>

</body>
<script type="text/javascript">

    $(function(){
        queryOneDetails();
        queryColor();
        //subtractNumber();
    })

    //查询一条详情信息
    function queryOneDetails(val) {
        var ids = $("#ids").val();
        $.ajax({
            url:"../zch/queryOneDetails",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function(data){
                pr = data.commodityPrice;
                typeId = data.typeId;
                imgSrc = data.pictureUrl;
                //商品名称
                $("#commodityName").html("商品名称:"+data.commodityName);
                $("#spName").html(data.commodityName);
                //编号
                $("#serial").html(data.artNo);
                //品牌
                $("#brandName").html(data.name)
                //时间
                $("#createDate").html(data.createDate);
                //库存
                $("#inventoryCount").html(data.inventory);
                //商品颜色
                $("#colorName").html(data.colorName);
                //出售数量
                $("#sellquantity").html(data.sellquantity);
                //图片路径
                $("#pictureUrl").attr("src",data.pictureUrl);

                //数量加一
                toryNumber = $("[name='tory']").val();
                var nu = data.inventory-toryNumber;
                $("#inventory").html("库存"+nu);
                $("#inventory2").val(nu);

                //循环获取选中的内存价格
                var memoryPrice = 0;
                var memoryArr=$("[name='ab']");//  selectvalue为radio中选中的值
                for(var i=0;i<memoryArr.length;i++){
                    if(memoryArr[i].checked==true) {
                        memoryPrice=memoryArr[i].value;
                        break;
                    }
                }
                var memo = parseInt(memoryPrice);
                //内存价格加总价 然后乘于个数 计算总价格
                var totalPrices = memo+data.commodityPrice;
                $("#commodityPrice").html(toryNumber*totalPrices);

                //调用查询配件 根据商品类型ID
                queryAccessories();

            },
            error:function(){
                alert("查询失败");
            }
        })
    }
    
    //数量减一
    function plus() {

        var inventory = $("#inventory2").val();
        var nu = parseInt(inventory);
        nu++;
        $("#inventory").html("库存"+nu);
        $("#inventory2").val(nu);

        //计算价格
        var pri = $("#commodityPrice").html();//获取当前价格
        var price = parseInt(pri);
        $("#commodityPrice").html(price-pr);
    }

    //加载颜色
    function queryColor(){
        $.ajax({
            url:"../zch/queryColor",
            type:"post",
            dataType:"json",
            success:function(data){
                var html = "";
                for(var i=0;i<data.length;i++){
                    html += "----" + data[i].colorName;
                }
                //$("#colorName").html("<font color='#a52a2a'>可选择颜色:</font>"+html);
            },
            error:function(){
                alert("查询详情失败");
            }
        })
    }

    //设置样式
    //购买
function buy(){
 // alert($("#commodityName").html());
  //  alert($("[name='cName']:checked").val());
    alert($("#text_box").val());

}
    $(document).ready(function(){
        var showproduct = {
            "boxid":"showbox",
            "sumid":"showsum",
            "boxw":400,//宽度,该版本中请把宽高填写成一样
            "boxh":400,//高度,该版本中请把宽高填写成一样
            "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
            "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
            "sumi":7,//列表间隔
            "sums":5,//列表显示个数
            "sumsel":"sel",
            "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
            "lastid":"showlast",
            "nextid":"shownext"
        };//参数定义
       // $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
    });

    var ii;
    //查询商品配件
    function queryAccessories() {
       // alert(typeId);
        $.ajax({
            url:"../zch/queryAccessories",
            type:"post",
            data:{typeId:typeId},
            dataType:"json",
            success:function(data){
                for(var i=0;i<data.length;i++){
                    //alert(data[i].itemId);
                    if(i==i){
                        // 循环 i下表和 img 的Id保持一致
                        //图片
                        $("#"+i).attr("src",data[i].imgSrc);
                        //配件
                        $("#name"+i).html(data[i].name);
                        //价格
                        $("#pri"+i).html(data[i].price);
                        //给复选框赋值Id
                        $("#par"+i).val(data[i].itemId);
                    }
                }
                //alert($("#par1").val());
            },
            error:function(){
                alert("查询配件失败");
            }
        })
    }

    //累加配件价格
    function accumulation(val) {
        var ce = 0;
            if(val==0){
                var pri = $("#pri0").html();
                priNumber = parseInt(pri);
                ce+=priNumber;
            }
            if(val==1){
                var pri = $("#pri1").html();
                priNumber = parseInt(pri);
                ce+=priNumber;
            }
            if(val==2){
                var pri = $("#pri2").html();
                priNumber = parseInt(pri);
                ce+=priNumber;
            }
            if(val==3){
                var pri = $("#pri3").html();
                priNumber = parseInt(pri);
                ce+=priNumber;
            }

        //alert(ce);
        $("#pr").html(ce);
        //获取计算总价格
        var pri = $("#commodityPrice").html();//获取当前价格
        var price = parseInt(pri);
        $("#commodityPrice").html(ce+price);

    }

    //可选择内存
    function lickMemory() {

        $.ajax({
            url:"../zch/queryLickMemory",
            type:"post",
            dataType:"json",
            success:function(data){
                for(var i=0;i<data.length;i++){
                    //alert(data[i].memoryName);
                    if(i==i){
                        $("#m"+i).html(data[i].memoryName);
                        $("#me"+i).val(data[i].price);
                    }
                }
                //alert($("#me0").val());
            },
            error:function(){
                alert("查询内存失败");
            }
        })

    }

    //选择内存
    function internal(val) {
        var ids = $("#ids").val();
        $.ajax({
            url:"../zch/queryItemPrice",
            type:"post",
            data:{ids:ids},
            type:"json",
            success:function (data) {
                //alert(data.commodityPrice);
                //每选择一项内存从新给总价格赋值
                $("#commodityPrice").html(data.commodityPrice);

                //从新获取当前商品总价格
                var pri = $("#commodityPrice").html();
                var price = parseInt(pri);

                //获取每个内存价格
                var vall = parseInt(val);
                //计算价格
                $("#commodityPrice").html(price+vall);

            },
            error:function(){
                alert("查询价格失败");
            }
        })

    }


    //加入购物车
    function shoppingTrolley() {
        //商品名称
        var spName = $("#spName").html();
        //编号
        var serial = $("#serial").html();
        //品牌
        var brandName  = $("#brandName").html();
        //上架时间
        var createDate = $("#createDate").html();
        //重量
        var weight = "20克";
        //图片路径 imgSrc该变量为全局变量
        var igc = imgSrc;
        //商品总价
        var commodityPrice = $("#commodityPrice").html();
        //循环获取选中的颜色
        var colorName = "";
        var array=$("[name='cName']");//  selectvalue为radio中选中的值
        for(var i=0;i<array.length;i++){
            if(array[i].checked==true) {
                colorName=array[i].value;
                break;
            }
        }

        //循环获取内存价格
        var memoryPrice = 0;
        var memoryArr=$("[name='ab']");//  selectvalue为radio中选中的值
        for(var i=0;i<memoryArr.length;i++){
            if(memoryArr[i].checked==true) {
                memoryPrice=memoryArr[i].value;
                break;
            }
        }

        //获取购买数量
        var purchaseQuantity = $("#text_box").val();

        //循环获取选中的配件Id
        var partsId = "";
        var partsPrArr = $("[name='partsPr']");
        for(var i=0;i<partsPrArr.length;i++){
            if(partsPrArr[i].checked==true) {
                partsId +="," + partsPrArr[i].value;
                //break;
            }
        }
        partsId = partsId.substring(1);

        //获取商品Id
        var proId = $("#ids").val();

        $.ajax({
            url:"../cart/add",
            type:"post",
            data:{
                spName:spName,
                serial:serial,
                weight:weight,
                igc:igc,
                commodityPrices:commodityPrice,
                colorName:colorName,
                memoryPrice:memoryPrice,
                purchaseQuantity:purchaseQuantity,
                proId:proId
            },
            success:function(data){
               alert("完成");
            },
            error:function () {
                alert("加入购物车失败");
            }
        })



    }
</script>
</html>