<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<button type="button" class="btn btn-success" onclick="addPlay()">新建优惠券</button>
<!--  表格 -->
<table id="dataGrid"></table>
</body>
<script type="text/javascript">
    $(function () {
        initDataGrid();
    })

    function initDataGrid() {
        //创建bootstrapTable


        $("#dataGrid").bootstrapTable({
            url: "../clp/queryYhq",
            method: 'post',
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect: false,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "id",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [2, 4, 8, 10],//分页组件
            pageNumber: 1,
            pageSize: 2,//默认每页条数
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //设置为false 将禁止所有列的排序。
            sortable: true,
            //设置默认排序为 name,直接对应数据库的字段
            sortName: 'id',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder: "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            // 请求服务器数据
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                };
                return param;
            },
            columns: [
                {field: 'checkbox', checkbox: true},  //开启复选框
                {field: 'id', title: '编号', width: 300},      //  列    field   代表是 后台  传过来的值
                {field: 'yhqname', title: '优惠券名称',idth: 300,
                },
                {field: 'yhqprice', title: '优惠形式',idth: 300,
                    formatter: function (value,row,index){

                            return value+"元";
                    }
                },
                {field: 'yhqlimit', title: '领取限制',width: 300,
                    formatter: function (value,row,index){
                        if(value==0){
                            return "不限张";
                        }
                        if(value==1){
                            return "1张";
                        }
                        if(value==2){
                            return "2张";
                        }
                        if(value==3){
                            return "3张";
                        }

                    }
                },
                {field: 'yhqdate', title: '有效期',width: 300,
                },
                {field: 'yhqmenkan', title: '优惠券门槛',width: 300,
                    formatter: function (value,row,index){
                        if(value==1){
                            return "不限制";
                        }
                        if(value==2){
                            return "满100元使用";
                        }
                    }
                },
                {field: 'yhqcount', title: '优惠券总数',width: 300,
                },
                {field: 'yhquse', title: '优惠券已使用数量',width: 300,
                },
                {field: 'yhqdes', title: '优惠券使用说明',width: 300,
                },
                /*{field: 'stuimg', title: '头像',width: 300,
                    formatter: function(value,row,index){
                        return "<img width='20' src='${pageContext.request.contextPath}/"+value+"'>"
                    }
                },*/
                {field: 'yhqlevel', title: '会员等级', width: 300,
                    formatter: function (value,row,index){
                        if(value==1){
                            return "所有会员";
                        }
                        if(value==2){
                            return "超级会员";
                        }
                    }
                },
                {field: 'cz', title: '操作', width: 300,
                    formatter: function (value,row,index){
                        var content = "<a href='javascript:update("+row.id+")'>修改</a>";
                        return content;
                    }}

            ]
        });
    }

    var res;

    function createAddContent(url) {
        //alert(url);
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }

    //新增

    function addPlay(){
        //打开新增弹框
        bootbox.dialog({
            title: '新增',
            message: createAddContent("../toshow/toAddClpYhqPage"),
            closeButton: true,//
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {

                        $.ajax({
                            url: '../clp/addYhq',
                            type: 'post',
                            data: $("#formId").serialize(),
                            success: function (data) {
                                //alert("新增成功");
                                //location.reload();
                                if(data=='555'){
                                    alert("新增失败")
                                }else{
                                    alert('新增成功')
                                    $('#dataGrid').bootstrapTable("refresh");
                                }
                                //刷新表格
                            }, error: function () {
                                alert("新增失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });
    }

    function update(id){
        alert(id)
        //打开新增弹框
        bootbox.dialog({
            title: '修改',
            message: createAddContent("../clp/toUpdClpYhqPage?id="+id),
            closeButton: true,//
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 修改",
                    "className": "btn-sm btn-success",
                    "callback": function () {

                        $.ajax({
                            url: '../clp/updateYhq',
                            type: 'post',
                            data: $("#formId").serialize(),
                            success: function () {
                                $('#dataGrid').bootstrapTable("refresh");
                                //刷新表格
                            }, error: function () {
                                alert("修改失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });
    }




</script>