<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>

    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
    <style type="text/css">
        body{
            background-image: url("../js/img/th.jpg");
            background-size:100% 100%;
            background-attachment:fixed;
        }
        #login_box{
            padding: 35px;
            border-radius:15px;
            background: #56666B;
            color: #fff;
        }
        #login_title{
            color: #000000;
        }
    </style>
</head>
<body>
<div style="height: 300px"></div>
            <form id="formId" >
                <table style=" margin:auto; width:50%">
                    <tr>
                        <td width="120" class="form-group">登录帐号：</td>
                        <td>
                            <input type="text"  class="form-control" id="username" name="username" placeholder="账号" style="width:200px;"/>
                            <span id="msg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" class="form-group">验证码：</td>
                        <td><input type="text"  class="form-control" name="code" placeholder="验证码" style="width:200px;"/><span id="msg5"></span></td>

                        <td><img src="../xxf/getcode" onclick="changecode(this)"></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <button type="button" class="btn btn-success" onclick="comeon()">下一步</button>
                        </td>
                    </tr>
                </table>
            </form>

</body>
<script>
    function changecode(img){
        $(img).attr("src",$(img).attr("src")+"?1");
    } ;
    function comeon() {
            $.ajax({
                url:"../xxf/yz",
                data:$("#formId").serialize(),
                success:function(data){
                    if(data=="1"){
                        $("#msg5").html("验证码错误")
                    }
                    if(data=="2"){
                        $("#msg").html("账号不存在")
                        $("#msg5").html("")
                    }
                    if(data=="0"){
                        $("#msg").html("")
                        username=$("#username").val();
                        location.href="../toshow/toYz?username="+username
                    }   }
            })
    }



</script>
</html>