<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://i1.mb5u.com/img/jquery.js" type="text/javascript"></script>
    <link href="http://i1.mb5u.com/member/css.css" rel="stylesheet" type="text/css">


</head>
<body>
<div id="main">
    <style>
        .uctable tbody tr td span{ padding-left:10px; color:#f00;}
        input.text{ width:275px;}
        .box .tbox{ width:470px; float:left; padding-right:50px; border-right:1px dotted #eee;}
        .tboxr{ float:right; width:330px; padding:10px 20px 20px 0; line-height:30px; font-family:"Microsoft YaHei"; font-size:16px;}
    </style>
    <div class="box">
        <div class="sec-forget"><ul class="flow">
            <li class="first"><span class="current">1. 填写帐号和邮箱</span></li>
            <li><span>2. 确认验证信息输入新密码</span></li>

            <li class="last"><span>3. 修改成功</span></li>
        </ul>
        </div>
        <div class="tbox" style="border-top:0;">
            <form id='formId' method='POST' >
                <input type="hidden" name="dopost" value="getpwd">
                <input type="hidden" name="gourl" value="">
                <input name="type" type="hidden" value="1"/>
                <table border="0" cellspacing="0" cellpadding="0" class="uctable">

                    <tbody>

                    <tr>
                        <td width="120" class="td1">登录帐号：</td>
                        <td>
                            <input name="username" type="text" id="txtUsername" class="text" />
                        </td>
                    </tr>
                    <tr>
                        <td width="120" class="td1">验证码：</td>
                        <td><input name="code" type="text" />
                            <img src="../xxf/getcode" onclick="changecode(this)"></td></td>
                    </tr>
                    </tbody>

                </table><div class="dbtj"><input  type="button" onclick="yz()" class="btn_tj" value=""  /> </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function yz() {
        $.ajax({
            url:"../xxf/yz",
            data:$("#formId").serialize(),
            success:function(data){
                if(data=="1"){
                    alert("验证码错误")
                }
                if(data=="2"){
                    alert("账号不存在")
                }
                if(data=="0"){
                    location.href="../toshow/tohbtree"
                }
            }
        })
    }
    function changecode(img){
        $(img).attr("src",$(img).attr("src")+"?1");
    } ;


</script>
</html>