<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<center>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="ret()">返回</button>
    <button type="button"  class="btn btn-success" onclick="imageText()">图文信息</button>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="upd()">修改</button>
    <form role="form" id="updForm">
        <input type="hidden" name="id" id="ids" style="width: 300px;" th:value="${id}"  >
        <input type="hidden" id="pictureUrl" name="pictureUrl" style="width: 300px;"  >
        <div class="form-group">
            <label >商品名称</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityName}"  name="commodityName">
        </div>
        <div class="form-group">
            <label >商品货号</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.artNo}" name="artNo" >
        </div>
        <div class="form-group">
            <label >商品分类</label>
            <select  style="width: 300px;"  class="form-control"  id="commodityType" name="TypeId" onchange="queryAllDran(this.value)"></select>
        </div>
        <div class="form-group">
            <label >品牌</label>
            <select style="width: 300px;"  class="form-control"  id="name" name="itemId"></select>
        </div>
        <div class="form-group">
            <label >供货商</label>
            <select style="width: 300px;" class="form-control">
                <option>仅支持本店出售</option>
            </select>
        </div>
        <div class="form-group">
            <label >本店售价</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityPrice}"  name="commodityPrice" >
        </div>
        <div class="form-group">
            <div class="col-sm-10" >
                <div class="file-loading">
                    <input id="uploadFile"  style="width: 10px;"  type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
                </div>
            </div>
        </div>

    </form>

</center>
</body>
<script>
    $(function(){
        loadCommodityType();
        //queryAllDran();
    })

    //返回
    function ret(){
        location.href="../toshow/toCommodity";
    }

    //跳转弹框
    var res;
    function createAddContent(url) {
        alert(url);
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }
    //图文信息
    function imageText() {
        var ids = $("#ids").val();
        //打开新增弹框
        bootbox.dialog({
            title: '新增',
            message: createAddContent("../toshow/imageText?ids="+ids),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url:"<%=request.getContextPath()%>/player/addPlayer.do",
                            type:"post",
                            data:$("#addForm").serialize(),
                            dataType:"json",
                            success:function(data){
                                if(data){
                                    $('#dataGrid').bootstrapTable("refresh");
                                }else{
                                    alert("新增失败");
                                }
                            },
                            error:function(){
                                alert("代码错误");
                            }
                        })

                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });
    }

    //修改
    function  upd() {
        var uploadFile = $("#uploadFile").val();
        $("#pictureUrl").val(uploadFile);
        //alert(uploadFile);
        $.ajax({
            url:"../zch/updCommodity",
            type:"post",
            data:$("#updForm").serialize(),
            dataType:"json",
            success:function () {
                alert("修改成功");
            },
            error:function () {
                alert("修改失败");
            }
        })
    }

    //回显类型
    function  loadCommodityType() {
        $.ajax({
            url:"../zch/queryCommodityType",
            type:"post",
            data:{},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>所有分类</option>";
                for(var i=0;i<data.length;i++){

                        html+="<option value='"+data[i].typeId+"'>"+data[i].typeName+"</option>";

                }

                $("#commodityType").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }



    //回显平牌
    function  queryAllDran() {
        var ids = $("#commodityType").val();
        $.ajax({
            url:"../zch/queryAllDran",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>所有分类</option>";
                for(var i=0;i<data.length;i++){

                    html+="<option value='"+data[i].type+"'>"+data[i].name+"</option>";

                }

                $("#name").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }


</script>
</html>