<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form role="form" id="formId2">
    <div class="form-group">
        <label >密保手机</label>
        <input type="text" class="form-control"   name="phone" placeholder="密保手机"/>
        <a href="javascript:huo()" class="easyui-linkbutton">获取验证码</a>   <span id="date"></span>
    </div>
    <div class="form-group">
        <label >验证码</label>
        <input  name="code" type="text" class="easyui-textbox"></input>
    </div>
    <div class="form-group">
        <label >新密码</label>
        <input  name="newPassword" type="text" class="easyui-textbox"></input>
    </div>
    <div class="form-group">
        <label >再输入一遍新密码</label>
        <input  name="newPassword" type="text" class="easyui-textbox"></input>
    </div>
</form>
</body>
</html>