<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" id="formId">
    <div class="form-group">
        <label for="name">优惠券名称</label>
        <input type="text" class="form-control"  name="yhqname" placeholder="优惠券名称"/>
    </div>
    <div class="form-group">
        <label for="name">优惠券总数</label>
        <input type="text" class="form-control"  name="yhqcount" placeholder="优惠券总数"/>
    </div>
    <div class="form-group">
        <label for="name">优惠金额</label>
        <input type="number" class="form-control"  name="yhqprice" placeholder="优惠金额"/>
    </div>
    <div class="form-group">
        <label for="name">使用门槛</label>
        <select class="form-control" name="yhqmenkan">
            <option value="-1">请选择</option>
            <option value="1">不限制</option>
            <option value="2">满100元使用</option>
            <option value="3">满200元使用</option>
            <option value="4">满500元使用</option>
            <option value="5">满1000元使用</option>
        </select>
    </div>


    <div class="data-type-1">
        <div class="row radio-item">
            <label class="col-sm-2">生效时间</label>
            <div class="input-group col-sm-3">
                <input  name="yhqstartdate" type="text" class="form-control date" value="" style="width:200px"/>
                <span class="input-group-addon">
                                    <i class="fa fa-clock-o bigger-110"></i>
                                </span>
            </div>
        </div>
        <div class="row radio-item">
            <label class="col-sm-2">失效时间</label>
            <div class="input-group col-sm-3">
                <input  name="yhqdate" type="text" class="form-control date" value="" style="width:200px"/>
                <span class="input-group-addon">
                                    <i class="fa fa-clock-o bigger-110"></i>
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="name">使用说明</label><br>
        <textarea name="yhqdes" placeholder="使用说明" rows="3"/>
    </div>

    <div class="row myrow">
        <div class="col-md-2">
            <label for="headImg">头像</label>
        </div>
        <div class="col-md-10" >
            <input type="text" id="testimg" name="yhqimg" />
            <input type="file"  class="projectfile"  name="imgg" id="headImg">
        </div>
    </div>

</form>
</body>

<script>
    //时间的插件
    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
    window.onload = function () {
        changeDateType(1);

        changeRangeType(0);

    };

    $(function () {
        uploadImg();
    })
    function uploadImg(url){
        $('#headImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/clp/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {

            var imgval = $('#testimg').val();

            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.responseText;
            }/*else{
			imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
		}*/
            $('#testimg').val(imgval);
        });
    }
</script>

</html>