<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="hidden" id="ids" th:value="${ids}">
                    <h4>
                        详情描述
                    </h4>
                    <hr>
                    <span id="color"></span>
                    <hr>
                    <span id="weight"></span>
                    <hr>
                    <span id="crowd"></span>
                    <hr>
                    <span id="commodityName"></span>
                    <hr>
                    <span id="typeName"></span>
                    <hr>
                    <span id="sname"></span>
                    <hr>
                    <span id="introduction"></span>
                    <hr>
</body>
<script>
    $(function () {
        loadParticulars()
    })

    //加载详情
    function loadParticulars() {
        var ids = $("#ids").val();
        $.ajax({
            url:"../zch/loadParticulars",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function (data) {
                $("#color").html("商品颜色:"+data.color);
                $("#weight").html("商品重量:"+data.weight);
                $("#crowd").html("内存大小:"+data.crowd);
                $("#commodityName").html("商品名称:"+data.commodityName);
                $("#typeName").html("商品类型："+data.typeName);
                $("#sname").html("商品平牌:"+data.name);
                $("#introduction").html("描述："+data.introduction)
            },
            error:function(){
                alert("加载详情失败");
            }
        })
    }
</script>
</html>