<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>

</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading"  >
        <a href="javaScript:groupback()"  class="pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h3 class="panel-title">订单详情</h3>
    </div>
    <!-- 基本信息 -->
    <div class="panel panel-warning">
        <div class="panel-heading">
        <h5> 基本信息</h5>.
        </div>

    <ul class="list-group">
        <input type="hidden" id="oid"th:value="${orderone.id}">
    <li class="list-group-item"><b>订单号:</b><span id="ordernumber" th:text="${orderone.ordernumber}"></span></li>
<!--
   <li class="list-group-item"><b>订单状态:</b><span id="typeid" th:value="${orderone.state}"th:text="${orderone.state}"></span></li>
-->
    <li class="list-group-item"><b>下单时间:</b><span th:text="${orderone.ordertime}"></span></li>
    <li class="list-group-item"><b>下单人:</b><span th:text="${orderone.buyer}"></span></li>
    <li class="list-group-item"><b>付款时间:<span th:text="${orderone.paydate}"></span></b></li>
     <li class="list-group-item"><b>状态:</b><span th:if="${orderone.state}==1" th:text="代付款"></span>
         <span th:if="${orderone.state}==2" th:text="代发货"></span>
         <span th:if="${orderone.state}==3" th:text="待收货"></span>
         <span th:if="${orderone.state}==4" th:text="已关闭"></span>
         <span th:if="${orderone.state}==5" th:text="已完成"></span>
     </li>

    </ul>
    </div>
<!-- 收货人信息 -->
<div class="panel panel-warning">
    <div class="panel-heading">
    <h5>收货人信息</h5>
    </div>
<ul class="list-group">
    <li class="list-group-item"><b>收货人:</b><span th:text="${orderone.consignee}"></span></li>
    <li class="list-group-item"><b>电话:</b><span th:text="${orderone.tel}"></span></li>
    <li class="list-group-item"><b>地址:</b><span th:text="${orderone.address}"></span></li>
    <li class="list-group-item"><b>邮编:</b><span th:text="${orderone.buyer}"></span></li>

</ul>
</div>


    <!--  商品信息 -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h5> 商品信息</h5>
        </div>
        <table id="showordertable"></table>
    </div>

</div>
</div>
<script>
 function groupback() {
     history.back();
 }



   var oid= document.getElementById("oid").value;
   // alert(oid);
    $("#showordertable").bootstrapTable({
        url:"../zhf/queryordertable?oid="+oid,
        method: 'post',
        striped: true,  	// 斑马线效果     默认false
        //只允许选中一行
        singleSelect: false,
        //选中行是不选中复选框或者单选按钮
        clickToSelect: true,
       // showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
       // cardView: false,                    //是否显示详细视图
        uniqueId: "id",                 //每一行的唯一标识，一般为主键列
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,     //  最少留两列
        detailView: false,                  //是否显示父子表
        toolbar: '#tabToolBar',   //  工具定义位置
        sidePagination: 'server',
        toolbar: '#toolbar',
      //  pagination: true, //是否展示分页
      //  pageList: [10,15,20],//分页组件
      //  pageNumber: 1,
      //  pageSize: 10,//默认每页条数
        //启动回车键做搜索功能
        searchOnEnterKey: true,
        //设置为false 将禁止所有列的排序。
        // sortable: true,
        //设置默认排序为 name,直接对应数据库的字段
        // sortName: 'id',
        //定义排序方式，'asc' 或者 'desc'。
        // sortOrder: "desc",
        //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
        // 设置为limit可以获取limit, offset, search, sort, order
        queryParamsType: 'undefined',
        // 请求服务器数据
      /*  queryParams: function queryParams(params) {
            var param = {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize,
                ordernumber: $("#ordernumber").val(),
                consignee: $("#consignee").val(),
                state:$("#state").val(),
                mindate:$("#mindate").val(),
                maxdate: $("#maxdate").val()
                // sortName: params.sortName,
                // sortOrder: params.sortOrder,
                //userName: $("#userName").val()

            };
            return param;
        },*/
        columns: [
            {
                field: 'commodityname',
                title: '商品名称',
                idField:true,
                width: 50
            },{
                field: 'artno',
                title: '货号',
                idField:true,
                width: 100
            },{
                field: 'commodityprice',
                title: '价格',
                width: 100
            },{
                field: 'amount',
                title: '数量',
                width: 100
            },
            {
                field: 'aaaaaa',
                title: '规格',
                width: 100
            },{
                field: 'amountpayable',
                title: '小计',
                width: 100
            },
        ]

    })

</script>

</body>
</html>