<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta charset="utf-8">
    <title>bug商城--优惠券</title>
    <link type="text/css" rel="stylesheet" href="//misc.360buyimg.com/??jdf/1.0.0/unit/ui-base/5.0.0/ui-base.css,jdf/1.0.0/unit/shortcut/5.0.0/shortcut.css,jdf/1.0.0/unit/global-header/1.0.0/global-header.css,jdf/1.0.0/unit/myjd/5.0.0/myjd.css,jdf/1.0.0/unit/nav/2.0.0/nav.css,jdf/1.0.0/unit/shoppingcart/2.0.0/shoppingcart.css,jdf/1.0.0/unit/global-footer/5.0.0/global-footer.css,jdf/1.0.0/unit/service/5.0.0/service.css,user/myjd/lib/1.0.0/widget/global/global.css">
    <script type="text/javascript">window.pageConfig = {
        compatible: true,
        jdfVersion: '2.0.0'
    };</script>
    <link rel="stylesheet" type="text/css" href="//misc.360buyimg.com/user/myjd/coupon/css/myjd.coupon20150805.css" media="all">
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/1.0.0/unit/??base/5.0.0/base.js,basePatch/1.0.0/basePatch.js"></script>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/??lib/jquery-1.6.4.js"></script>
    <link source="widget" type="text/css" rel="stylesheet" href="//misc.360buyimg.com/user/myjd/coupon/widget/??/common/common.css,/coupon-filter/coupon-filter.css,/coupon-item2016/coupon-item2016.css,/ui-page/ui-page.css">
    <link type="text/css" rel="stylesheet" href="/common/css/coupon_style.css"/>
	<!-- 引入jquery -->
	<script type="text/javascript" src="/js3/jquery-1.9.1.min.js"></script>
	<!-- 引入bootstrap的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap3/css/bootstrap.css">
	<script type="text/javascript" src="/js3/bootstrap3/js/bootstrap.js"></script>
	<!-- 引入tree的js、css -->
	<link rel="stylesheet" href="/js3/bootstrap-treeview/bootstrap-treeview.min.css">
	<script type="text/javascript" src="/js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
	<!-- 引入选项卡的js、css -->
	<link rel="stylesheet" href="/js3/bootStrap-addTabs/bootstrap.addtabs.css">
	<script type="text/javascript" src="/js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
	<!-- 引入table的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-table/bootstrap-table.css">
	<script type="text/javascript" src="/js3/bootstrap-table/bootstrap-table.js"></script>
	<script type="text/javascript" src="/js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
	<!-- 引入删除提示框 -->
	<script type="text/javascript" src="/js3/bootbox/bootbox.min.js"></script>
	<!-- 引入时间的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
	<script  src="/js3/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script  src="/js3/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<!-- 引入文件上传的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-fileinput/css/fileinput.css">
	<script type="text/javascript" src="/js3/bootstrap-fileinput/js/fileinput.js"></script>
	<script type="text/javascript" src="/js3/bootstrap-fileinput/js/locales/zh.js"></script>
</head>


<body myjd="_MYJD_ticket">


    <div id="nav">
	<div class="w">
		<div class="logo">
			<a href="//home.jd.com" target="_self" class="fore2" clstag="homepage|keycount|home2013|Homebackm">bug商城</a>
		</div>
		<div class="navitems">
			<ul>
				<li class="fore-1">
					<a target="_self" href="//home.jd.com" clstag="homepage|keycount|home2013|Homeindex">返回bug商城首页</a>
				</li>

			</ul>
		</div>

		<div class="clr"></div>
	</div>
</div>

    <div id="container">
        <div class="w">
            <div id="content">
                <div id="sub">
                    <div id="menu">
	<dl class="fore1">
		<dt id="_MYJD_order">订单中心</dt>
		<dd class="fore1_1" id="_MYJD_ordercenter">
			<a clstag="homepage|keycount|home2013|Homeoder" href="//order.jd.com/center/list.action" target="_self">我的订单</a>
		</dd>
		<dd class="fore1_4" id="_MYJD_yushou">
			<a clstag="homepage|keycount|home2013|Homeys" href="//yushou.jd.com/member/qualificationList.action" target="_self">我的活动</a>
		</dd>
		<dd class="fore1_5" id="_MYJD_comments">
			<a clstag="homepage|keycount|home2013|Homecomments" href="//club.jd.com/mycomments.aspx" target="_self">评价晒单</a>
		</dd>
                <dd class="fore1_7" id="_MYJD_alwaysbuy">
			<a clstag="homepage|keycount|home2013|Homewdcgqd" href="//changgou.jd.com/buylist-v2/list?jdHead=true&page=1" target="_self">我的常购商品&nbsp;<img width="24" height="11" src="//misc.360buyimg.com/jd2008/skin/df/i/myjd-new-ico.png"></a>
		</dd>
		<dd class="fore1_8" id="_MYJD_dxd">
			<a clstag="homepage|keycount|home2013|Homedxd" href="//skunotify.jd.com/userTouchSub/query.action" target="_self">代下单</a>
		</dd>
	</dl>
	<dl class="fore2">
		<dt id="_MYJD_gz">关注中心</dt>
		<dd class="fore2_1" id="_MYJD_product">
			<a clstag="homepage|keycount|home2013|Homefollow" href="//t.jd.com/home/follow" target="_self">关注的商品</a>
		</dd>
		<dd class="fore2_2" id="_MYJD_vender">
			<a clstag="homepage|keycount|home2013|Homefollowv" href="//t.jd.com/vender/followVenderList.action" target="_self">关注的店铺</a>
		</dd>
		<dd class="fore2_3" id="_MYJD_followwhat">
			<a clstag="homepage|keycount|home2013|Homewhat" href="//what.jd.com/my/follow/index " target="_self">关注的专辑</a>
		</dd>
		<dd class="fore2_4" id="JD_FOLLOW_CONTENT">
			<a clstag="homepage|keycount|home2013|Homettnr" href="//tt.jd.com" target="_self">收藏的内容&nbsp;<img width="24" height="11" src="//misc.360buyimg.com/jd2008/skin/df/i/myjd-new-ico.png"/></a>
		</dd>
		<dd class="fore2_6" id="_MYJD_activity">
			<a clstag="homepage|keycount|home2013|Homefollowa" href="//t.jd.com/activity/followActivityList.action" target="_self">关注的活动</a>
		</dd>
	</dl>
	<dl class="fore3">
		<dt id="_MYJD_zc">资产中心</dt>
		<dd class="fore3_1" id="_MYJD_cashbox">
			<a clstag="homepage|keycount|home2013|Homexjk" href="//jinku.jd.com/xjk/income.action" target="_self">小金库</a>
		</dd>
		<dd class="fore3_2" id="_MYJD_credit"><a target="_blank" class="" clstag="homepage|keycount|home2013|hbt" tag="213" href="//baitiao.jd.com">京东白条</a></dd>
		<dd class="fore3_5" id="_MYJD_jdfk">
			<a clstag="homepage|keycount|home2013|Homejdfk" href="//mygiftcard.jd.com/giftcard/codeIndex.action" target="_self">领货码</a>
		</dd>
		<dd class="fore3_6" id="_MYJD_balance">
			<a clstag="homepage|keycount|home2013|Homemoney" href="//mymoney.jd.com/finance/recently.action" target="_self">余额</a>
		</dd>
		<dd class="fore3_12" id="_MYJD_redpackage">
			<a target="_self" class="" clstag="homepage|keycount|home2013|redpackage"  href="//myhongbao.jd.com">红包</a>
		</dd>
		<dd class="fore3_13" id="_MYJD_bankcard">
			<a target="_self" class="" clstag="homepage|keycount|home2013|bankcard"  href="//authpay.jd.com/card/queryBindCard.action">银行卡</a>
		</dd>
		<dd class="fore3_7" id="_MYJD_ticket">
			<a clstag="homepage|keycount|home2013|Homequan" href="//quan.jd.com/user_quan.action" target="_self">优惠券</a>
		</dd>
		<dd class="fore3_8" id="_MYJD_card">
			<a clstag="homepage|keycount|home2013|Homegift" href="//mygiftcard.jd.com/giftcard/myGiftCardInit.action" target="_self">礼品卡</a>
		</dd>

		<dd class="fore3_10" id="_MYJD_bean">
			<a clstag="homepage|keycount|home2013|Homedou" href="//bean.jd.com/myJingBean/list" target="_self">京豆</a>
		</dd>
		<dd class="fore3_11" id="_MYJD_coin">
			<a clstag="homepage|keycount|home2013|Homehgb2" href="//coin.jd.com/asset/sc/myassets.html" target="_self">京东钢镚&nbsp;<img width="24" height="11" src="//misc.360buyimg.com/jd2008/skin/df/i/myjd-new-ico.png"></a>
		</dd>
	</dl>
	<dl class="fore4">
		<dt id="_MYJD_ts">特色业务</dt>
		<dd class="fore4_1" id="_MYJD_tc">
			<a clstag="homepage|keycount|home2013|Homemyyyt" href="//le.jd.com/myBusinessHall" target="_self">我的营业厅</a>
		</dd>
		<dd class="fore4_2" id="_MYJD_tx">
			<a clstag="homepage|keycount|home2013|Homemobile" href="//mobile.jd.com/yyswt/myjd.do" target="_self">京东通信</a>
		</dd>
		<dd class="fore4_3" id="_MYJD_ding">
			<a clstag="homepage|keycount|home2013|Homeding" href="//ding.jd.com/plan/showPlans.action" target="_self">定期购</a>
		</dd>

		<dd class="fore4_5" id="_MYJD_hsd">
			<a clstag="homepage|keycount|home2013|Homewhsd" href="//huanwo.jd.com/main/Main_listRecovery.action" target="_self">我的回收单</a>
		</dd>
		<dd class="fore4_6" id="_MYJD_jnbt">
			<a clstag="homepage|keycount|home2013|Homejnbt" href="//ptrade.jd.com/getNomalToJnActionList.html" target="_self">节能补贴</a>
		</dd>
		<dd class="fore4_7" id="_MYJD_yyfw">
			<a clstag="homepage|keycount|home2013|Homeyyfw" href="//yiyaorx.jd.com/process_list.action" target="_self">医药服务</a>
		</dd>
		<dd class="fore4_8" id="_MYJD_lljyz">
			<a clstag="homepage|keycount|home2013|Homelljyz" href="//datawallet.jd.com/profile.html" target="_self">流量加油站</a>
		</dd>
		<dd class="fore4_9" id="_MYJD_hjtg">
			<a clstag="homepage|keycount|home2013|Homehjtg" href="//gold.jd.com/gold/hosting/hostingSingleList.html" target="_self">黄金托管</a>
		</dd>
                <dd class="fore4_10" id="_MYJD_istudy">
			<a clstag="homepage|keycount|home2013|Homeistudy" href="//istudy.jd.com/" target="_self">我的课程</a>
		</dd>
                <dd class="fore4_11" id="_MYJD_hwfc">
			<a clstag="homepage|keycount|home2013|Homehwfcyy" href="//abdestate.jd.com/myjd" target="_self">海外房产预约</a>
		</dd>
               <dd class="fore4_12" id="_MYJD_homewdqqg">
			<a clstag="homepage|keycount|home2013|homewdqqg" href="https://home.jd.hk" target="_self">我的海囤全球</a>
		</dd>
               <dd class="fore4_13" id="_MYJD_stagepaymd">
			<a clstag="homepage|keycount|home2013|homezxfw" href="//md-helper.jd.com/stagepay/index" target="_self">装修服务</a>
		</dd>
                <dd class="fore4_14" id="_MYJD_paimai">
			<a clstag="pageclick|keycount|home_201804231|1" href="//ipaimai.jd.com/home/" target="_self">我的拍卖</a>
		</dd>
                <dd class="fore4_15" id="_MYJD_crt">
			<a clstag="pageclick|keycount|home_201804231|2" href="//ctr.jd.com/order-list.html" target="_blank">我的集运</a>
		</dd>
                <dd class="fore4_16" id="_MYJD_hczdds">
			<a clstag="pageclick|keycount|home_201804231|3" href="//freeprinter.jd.com/pc.html#/service" target="_blank">耗材自动递送</a>
		</dd>
                <dd class="fore4_16" id="_MYJD_jipiao">
			<a clstag="pageclick|keycount|home_201804231|4" href="//jipiao.jd.com/" target="_blank">京东机票</a>
		</dd>
	</dl>
	<dl class="fore5">
		<dt id="_MYJD_fw">客户服务</dt>
		<dd class="fore5_1" id="_MYJD_repair">
			<a clstag="homepage|keycount|home2013|Homerepair" href="//myjd.jd.com/afs/indexNew.action?entry=8" target="_self">返修退换货</a>
		</dd>
		<dd class="fore5_2" id="_MYJD_protection">
			<a clstag="homepage|keycount|home2013|Homejb" href="//pcsitepp-fm.jd.com" target="_self">价格保护</a>
		</dd>
		<dd class="fore5_3" id="_MYJD_complaint">
			<a clstag="homepage|keycount|home2013|Homeopinion" href="//myjd-crm.jd.com/opinion/orderList.action" target="_self">意见建议</a>
		</dd>
		<dd class="fore5_4" id="_MYJD_question">
			<a clstag="homepage|keycount|home2013|Homewdwd" href="//question.jd.com/myjd/getMyjdQuestionList.action" target="_self">我的问答</a>
		</dd>
		<dd class="fore5_5" id="_MYJD_consultation">
			<a clstag="homepage|keycount|home2013|Homeconsu" href="//club.jd.com/myjd/userConsultationList_1.html" target="_self">购买咨询</a>
		</dd>
		<dd class="fore5_6" id="_MYJD_referee">
			<a clstag="homepage|keycount|home2013|Homemjyjf" href="//myjd-crm.jd.com/referee/orderlist.action" target="_self">交易纠纷</a>
		</dd>
		<dd class="fore5_7" id="_MYJD_foreign">
			<a clstag="homepage|keycount|home2013|Homemjdwx" href="//weixiu.jd.com/mall/repair/foreign" target="_self">京东维修 </a>
		</dd>

        <dd class="fore5_9" id="_MYJD_wdfp">
			<a clstag="homepage|keycount|home2013|Homezzfp" href="//myivc.jd.com/fpzz.html" target="_self">我的发票</a>
		</dd>
      <dd class="fore5_10" id="_MYJD_jbzx">
			<a clstag="homepage|keycount|home2013|Homejbzx" href="//jubao.jd.com/myjd/list.html" target="_self">举报中心</a>
		</dd>
	</dl>
	<dl class="fore6">
		<dt id="_MYJD_sz">设置</dt>
		<dd class="fore6_1" id="_MYJD_info">
			<a clstag="homepage|keycount|home2013|Homeyser2" href="//i.jd.com/user/info" target="_self">个人信息</a>
		</dd>
		<dd class="fore6_2" id="_MYJD_add">
			<a clstag="homepage|keycount|home2013|Homeadd2" href="//easybuy.jd.com/address/getEasyBuyList.action" target="_self">收货地址</a>
		</dd>
	</dl>
</div>


                    <div id="menu-ads"><!--广告全部放这里--></div>
                </div>

                <div id="main">

                    <div class="mod-main mod-comm mod-coupon">
                        <div class="mt">
                            <h3>优惠券</h3>
                            <div class="extra-r">
                                <a id="vipLink" href="//a.jd.com" target="_blank" clstag="pageclick|keycount|mycoupon_new_201610184|15"><b class="coupon-icon"></b>领取更多优惠券<em id="vipNum" style="display: none">0</em></a>
                            </div>
                        </div>
                    </div>

                    <div class="mod-main mod-comm">
                        <div class="mt">
                            <ul class="extra-l">
                                <li>
                                    <a href="/user_quan.action" class="txt curr" clstag="pageclick|keycount|mycoupon_new_201610184|16">商城</a>
                                </li>
                                <li>
                                    <a href="/user_financing_quan.action" class="txt" clstag="pageclick|keycount|mycoupon_new_201610184|17">金融</a>
                                </li>
                                <li>
                                    <a href="/user_iou_quan.action" class="txt" clstag="pageclick|keycount|mycoupon_new_201610184|18">白条</a>
                                </li>

                                <li>
                                    <a href="/user_quan.action?tab=huishou" class="txt" clstag="pageclick|keycount|mycoupon_pphs_20190115|29">回收</a>
                                </li>

                            </ul>
                            <div class="extra-r">
                                <a href="//help.jd.com/user/issue/169-1077.html" class="ftx-05" clstag="pageclick|keycount|mycoupon_new_201610184|20">优惠券规则说明</a>
                            </div>
                        </div>

                        <div class="mc">

                            <input id="page-url-tabCountType" hidden="hidden" tabCountType=""/>
                                <div class="coupon-items">


										<div class="coupon-item coupon-item-d " th:each="yhq:${list}">
											<div class="c-type">
												<div class="c-price">
													<em>&yen;</em>
													<strong><span th:text="${yhq.yhqprice}" th:value="${yhq.yhqprice}"/></span></strong>
													<span class="type">东券</span>
												</div>
												<div class="c-limit">
													<span th:if="${yhq.yhqmenkan} ==1"th:text="不限制" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==2"th:text="满100元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==3"th:text="满200元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==4"th:text="满500元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==5"th:text="满1000元使用" th:value="${yhq.yhqmenkan}"/></span>
												</div>
												<div class="c-time">&nbsp;&nbsp;</div>
												<div class="c-time"></div>
												<div class="c-type-top"></div>
												<div class="c-type-bottom"></div>
											</div>

											<div class="c-msg">
												<div class="c-range">
													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="限品类" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;仅可购买<span th:text="${yhq.yhqname}" th:value="${yhq.yhqname}"></span>商品</span>
													</div>

													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="券编号" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.id}" th:value="${yhq.id}"></span></span>
													</div>

													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="生效日期" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.yhqstartdate}" th:value="${yhq.yhqstartdate}"/></span></span>
													</div>
													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="失效日期" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.yhqdate}" th:value="${yhq.yhqdate}"/></span></span>
													</div>


												</div>

												<div class="op-btns">
													<a href="//search.jd.com/Search?coupon_batch=248000362&amp;coupon_id=39351560627" class="btn" target="_blank" clstag="pageclick|keycount|mycoupon_new_201610184|9"><span class="txt">立即使用</span><b></b></a>
												</div>

												<div class="ftx-03 ac mt5">&nbsp;&nbsp;</div>




											</div>


										</div>


                                </div>

                                <div class="ui-page-wrap clearfix">
                                    <div id="page-url" class="ui-page" url="/user_quan.action?tab=&couponType=-1&sort=3&page" pageNum="1" pageType="1" couponType="-1"></div>
                                </div>
                        </div>
                    </div>

                    <div class="mod-main mod-comm" id="quan02">
    <div class="mc">
        <div class="coupon-rule">
            <ul>
                <li class="fore1">
                    <a href="//help.jd.com/user/issue/169-1077.html" clstag="pageclick|keycount|mycoupon_new_201610184|1">
                        <b class="rule-icon"></b><span>优惠券使用规则</span>
                    </a>
                </li>
                <li class="fore2">
                    <a href="//a.jd.com" clstag="pageclick|keycount|mycoupon_new_201610184|2">
                        <b class="rule-icon"></b><span>领券中心</span>
                    </a>
                </li>
                <li class="fore3">
                    <a href="//rms.jd.com/ticket.do" clstag="pageclick|keycount|mycoupon_new_201610184|3">
                        <b class="rule-icon"></b><span>京喜购领券</span>
                    </a>
                </li>
                <li class="fore4">
                    <a href="/pc/exchange_coupon.action" clstag="pageclick|keycount|mycoupon_new_201610184|4">
                        <b class="rule-icon"></b><span>优惠券兑换</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w">
        <div id="product-track"></div>
    </div>

    <!--service start-->
<div id="service-2017">
	<div class="w">
		<ol class="slogen">
			<li class="item fore1">
				<i>多</i>品类齐全，轻松购物
			</li>
			<li class="item fore2">
				<i>快</i>多仓直发，极速配送
			</li>
			<li class="item fore3">
				<i>好</i>正品行货，精致服务
			</li>
			<li class="item fore4">
				<i>省</i>天天低价，畅选无忧
			</li>
		</ol>
	</div>
	<div class="jd-help">
		<div class="w">
			<div class="wrap">
				<dl class="fore1">
					<dt>购物指南</dt>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-29.html">购物流程</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-151.html">会员介绍</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-297.html">生活旅行/团购</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue.html">常见问题</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-136.html">大家电</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/custom.html">联系客服</a>
					</dd>
				</dl>
				<dl class="fore2">
					<dt>配送方式</dt>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-81-100.html">上门自提</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-81.html">211限时达</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/103-983.html">配送服务查询</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/109-188.html">配送费收取标准</a>
					</dd>
					<dd>
						<a target="_blank" href="//help.joybuy.com/help/question-list-201.html">海外配送</a>
					</dd>
				</dl>
				<dl class="fore3">
					<dt>支付方式</dt>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-172.html">货到付款</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-173.html">在线支付</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-176.html">分期付款</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-174.html">邮局汇款</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-175.html">公司转账</a>
					</dd>
				</dl>
				<dl class="fore4">
					<dt>售后服务</dt>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/321-981.html">售后政策</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-132.html">价格保护</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/130-978.html">退款说明</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//myjd.jd.com/repair/repairs.action">返修/退换货</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-50.html">取消订单</a>
					</dd>
				</dl>
				<dl class="fore5">
					<dt>特色服务</dt>
					<dd>
						<a target="_blank" href="//1paipai.jd.com">夺宝岛</a>
					</dd>
					<dd>
						<a target="_blank" href="//help.jd.com/user/issue/list-134.html">DIY装机</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//fuwu.jd.com/">延保服务</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//o.jd.com/market/index.action">京东E卡</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//mobile.jd.com/">京东通信</a>
					</dd>
					<dd>
						<a rel="nofollow" target="_blank" href="//smart.jd.com/">京鱼座智能</a>
					</dd>
				</dl>
				<span class="clr"></span>
			</div>
		</div>
	</div>
</div>
<!--service end-->
    <!--footer start-->
<div id="footer-2017" Includefile_Footer_id="1002">
	<div class="w">
		<div class="copyright_links">
			<p>
				<a href="//about.jd.com" target="_blank">关于我们</a><span class="copyright_split">|</span>
				<a href="//about.jd.com/contact/" target="_blank">联系我们</a><span class="copyright_split">|</span>
				<a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a><span class="copyright_split">|</span>
				<a href="//lai.jd.com" target="_blank">合作招商</a><span class="copyright_split">|</span>
				<a href="//helpcenter.jd.com/venderportal/index.html" target="_blank">商家帮助</a><span class="copyright_split">|</span>
				<a href="//jzt.jd.com" target="_blank">营销中心</a><span class="copyright_split">|</span>
				<a href="//app.jd.com/" target="_blank">手机京东</a><span class="copyright_split">|</span>
				<a href="//club.jd.com/links.aspx" target="_blank">友情链接</a><span class="copyright_split">|</span>
				<a href="//media.jd.com/" target="_blank">销售联盟</a><span class="copyright_split">|</span>
				<a href="//pro.jd.com/mall/active/3WA2zN8wkwc9fL9TxAJXHh5Nj79u/index.html" target="_blank">京东社区</a><span class="copyright_split">|</span>
				<a href="//pro.jd.com/mall/active/3TF25tMdrnURET8Ez1cW9hzfg3Jt/index.html" target="_blank">风险监测</a><span class="copyright_split">|</span>
				<a href="//about.jd.com/privacy/" target="_blank">隐私政策</a><span class="copyright_split">|</span>
				<a href="//gongyi.jd.com" target="_blank">京东公益</a><span class="copyright_split">|</span>
				<a href="//en.jd.com/" target="_blank">English Site</a><span class="copyright_split">|</span>
				<a href="//corporate.jd.com/" target="_blank">Media & IR</a>
			</p>
		</div>
		<div class="copyright_info">
			<p>
				<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000088" target="_blank">京公网安备 11000002000088号</a><span class="copyright_split">|</span><span>京ICP证070359号</span><span class="copyright_split">|</span>
				<a href="//img14.360buyimg.com/da/jfs/t256/349/769670066/270505/3b03e0bb/53f16c24N7c04d9e9.jpg" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="copyright_split">|</span><span>新出发京零 字第大120007号</span></p>
			<p><span>互联网出版许可证编号新出网证(京)字150号</span><span class="copyright_split">|</span>
				<a href="//pro.jd.com/mall/active/3bVDLXHdwVmdQksGF8TtS7ocq1NY/index.html" target="_blank">出版物经营许可证</a><span class="copyright_split">|</span>
				<a href="//misc.360buyimg.com/wz/wlwhjyxkz.jpg" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a><span class="copyright_split">|</span><span>违法和不良信息举报电话：4006561155</span></p>
			<p><span class="copyright_text">Copyright &copy; 2004 - <em id="copyright_year">2019</em>  京东JD.com 版权所有</span><span class="copyright_split">|</span><span>消费者维权热线：4006067733</span>
				<a href="//pro.jd.com/mall/active/38PitHBfR7ZopNHRSHnuuWR5AMDL/index.html" target="_blank" class="copyright_license">经营证照</a>
				<span class="copyright_split">|</span>
				<span>(京)网械平台备字(2018)第00003号</span>
				<span class="copyright_split">|</span>
				<a href="//storage.jd.com/imgtools/cbdaa22553-dccaf290-d1af-11e8-a840-89f99f5f0056.jpeg" target="_blank" class="mod_business_license">营业执照</a>
			</p>
			<p class="mod_copyright_inter">
				<a class="mod_copyright_inter_lk" href="//www.joybuy.com/?source=1&visitor_from=3" target="_blank" clstag="h|keycount|btm|btmnavi_null0501"><i class="mod_copyright_inter_ico mod_copyright_inter_ico_global"></i><span class="languagefont">&#xe901;</span></a>
				<span class="copyright_split">|</span>
				<a class="mod_copyright_inter_lk" href="//www.jd.ru/?source=1&visitor_from=3" target="_blank" clstag="h|keycount|btm|btmnavi_null0502"><i class="mod_copyright_inter_ico mod_copyright_inter_ico_rissia"></i><span class="languagefont">&#xe904;</span></a>
				<span class="copyright_split">|</span>
				<a class="mod_copyright_inter_lk" href="//www.jd.id/?source=1&visitor_from=3" target="_blank" clstag="h|keycount|btm|btmnavi_null0503"><i class="mod_copyright_inter_ico mod_copyright_inter_ico_indonesia"></i><span class="languagefont">&#xe902;</span></a>
				<span class="copyright_split">|</span>
				<a class="mod_copyright_inter_lk" href="//www.joybuy.es/?source=1&visitor_from=3" target="_blank" clstag="h|keycount|btm|btmnavi_null0504"><i class="mod_copyright_inter_ico mod_copyright_inter_ico_spain"></i><span class="languagefont">&#xe903;</span></a>
				<span class="copyright_split">|</span>
				<a class="mod_copyright_inter_lk" href="//www.jd.co.th/?source=1&visitor_from=3" target="_blank" clstag="h|keycount|btm|btmnavi_null0505"><i class="mod_copyright_inter_ico mod_copyright_inter_ico_thailand"></i><span class="languagefont">&#xe900;</span></a>
			</p>
			<p><span>京东旗下网站：</span>
				<a href="https://www.jdpay.com/" target="_blank">京东钱包</a><span class="copyright_split">|</span>
				<a href="https://www.jdcloud.com" target="_blank">京东云</a>
			</p>
		</div>
		<p class="copyright_auth">
			<script type="text/JavaScript">function CNNIC_change(eleId){var str= document.getElementById(eleId).href;var str1 =str.substring(0,(str.length-6));str1+=CNNIC_RndNum(6);
				document.getElementById(eleId).href=str1;}function CNNIC_RndNum(k){var rnd=""; for (var i=0;i
				< k;i++) rnd+=Math.floor(Math.random()*10); return rnd;};(function(){var d=new Date;document.getElementById(
				 "copyright_year").innerHTML=d.getFullYear()})();</script>
					<a id="urlknet" class="copyright_auth_ico copyright_auth_ico_2" onclick="CNNIC_change('urlknet')" oncontextmenu="return false;"
					 name="CNNIC_seal" href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&ct=df&pa=294005" target="_blank">可信网站信用评估</a>
					<a class="copyright_auth_ico copyright_auth_ico_3" href="http://www.cyberpolice.cn/" target="_blank">网络警察提醒你</a>
					<a class="copyright_auth_ico copyright_auth_ico_4" href="https://search.szfw.org/cert/l/CX20120111001803001836" target="_blank">诚信网站</a>
					<a class="copyright_auth_ico copyright_auth_ico_5" href="http://www.12377.cn" target="_blank">中国互联网举报中心</a>
					<a class="copyright_auth_ico copyright_auth_ico_6" href="http://www.12377.cn/node_548446.htm" target="_blank">网络举报APP下载</a>
		</p>
	</div>
</div>
<!--footer end-->

    <script type="text/javascript" src="//misc.360buyimg.com/user/myjd-2015/js/page/coupon/usercoupon.js"></script>
    <script type="text/javascript" src="//wl.jd.com/wl.js"></script>
    <script type="text/javascript" src="/common/js/quan.js"></script>
    <script type="text/javascript" src="/common/js/usable.js"></script>
    <script type="text/javascript" src="/common/js/ZeroClipboard.js"></script>

    <script type="text/javascript" src="//wl.jd.com/wl.js"></script>

</body>



<script type="text/javascript">


</script>




</html>