<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta charset="utf-8">
    <title>bug商城--优惠券</title>
    <link type="text/css" rel="stylesheet" href="//misc.360buyimg.com/??jdf/1.0.0/unit/ui-base/5.0.0/ui-base.css,jdf/1.0.0/unit/shortcut/5.0.0/shortcut.css,jdf/1.0.0/unit/global-header/1.0.0/global-header.css,jdf/1.0.0/unit/myjd/5.0.0/myjd.css,jdf/1.0.0/unit/nav/2.0.0/nav.css,jdf/1.0.0/unit/shoppingcart/2.0.0/shoppingcart.css,jdf/1.0.0/unit/global-footer/5.0.0/global-footer.css,jdf/1.0.0/unit/service/5.0.0/service.css,user/myjd/lib/1.0.0/widget/global/global.css">
    <script type="text/javascript">window.pageConfig = {
        compatible: true,
        jdfVersion: '2.0.0'
    };</script>
    <link rel="stylesheet" type="text/css" href="//misc.360buyimg.com/user/myjd/coupon/css/myjd.coupon20150805.css" media="all">
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/1.0.0/unit/??base/5.0.0/base.js,basePatch/1.0.0/basePatch.js"></script>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/??lib/jquery-1.6.4.js"></script>
    <link source="widget" type="text/css" rel="stylesheet" href="//misc.360buyimg.com/user/myjd/coupon/widget/??/common/common.css,/coupon-filter/coupon-filter.css,/coupon-item2016/coupon-item2016.css,/ui-page/ui-page.css">

	<!-- 引入jquery -->
	<script type="text/javascript" src="/js3/jquery-1.9.1.min.js"></script>
	<!-- 引入bootstrap的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap3/css/bootstrap.css">
	<script type="text/javascript" src="/js3/bootstrap3/js/bootstrap.js"></script>
	<!-- 引入tree的js、css -->
	<link rel="stylesheet" href="/js3/bootstrap-treeview/bootstrap-treeview.min.css">
	<script type="text/javascript" src="/js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
	<!-- 引入选项卡的js、css -->
	<link rel="stylesheet" href="/js3/bootStrap-addTabs/bootstrap.addtabs.css">
	<script type="text/javascript" src="/js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
	<!-- 引入table的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-table/bootstrap-table.css">
	<script type="text/javascript" src="/js3/bootstrap-table/bootstrap-table.js"></script>
	<script type="text/javascript" src="/js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
	<!-- 引入删除提示框 -->
	<script type="text/javascript" src="/js3/bootbox/bootbox.min.js"></script>
	<!-- 引入时间的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
	<script  src="/js3/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script  src="/js3/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<!-- 引入文件上传的css、js -->
	<link rel="stylesheet" href="/js3/bootstrap-fileinput/css/fileinput.css">
	<script type="text/javascript" src="/js3/bootstrap-fileinput/js/fileinput.js"></script>
	<script type="text/javascript" src="/js3/bootstrap-fileinput/js/locales/zh.js"></script>
</head>


<body myjd="_MYJD_ticket">


    <div id="nav">
	<div class="w">
		<div class="logo">
			<a href="//home.jd.com" target="_self" class="fore2" clstag="homepage|keycount|home2013|Homebackm">bug商城</a>
		</div>
		<div class="clr"></div>
	</div>
</div>

    <div id="container">
        <div class="w">
            <div id="content">
                <div id="sub">
                    <div id="menu">
						<dl class="fore1">
							<dt id="_MYJD_order">订单中心</dt>
							<dd class="fore1_1" id="_MYJD_ordercenter">
								<a clstag="homepage|keycount|home2013|Homeoder" href="javaScript:tomyorder()" target="_self">我的订单</a>
							</dd>
						</dl>
					</div>
                    <div id="menu-ads"><!--广告全部放这里--></div>
                </div>

                <div id="main">

                    <div class="mod-main mod-comm mod-coupon">
                        <div class="mt">
                            <h3>优惠券</h3>
                            <div class="extra-r">
                                <a id="vipLink" href="../clp/showClpYhq" target="_blank" clstag="pageclick|keycount|mycoupon_new_201610184|15"><b class="coupon-icon"></b>领取更多优惠券<em id="vipNum" style="display: none">0</em></a>
                            </div>
                        </div>
                    </div>

                    <div class="mod-main mod-comm">
                        <div class="mt">
                            <ul class="extra-l">
                                <li>
                                    <a href="#" class="txt curr" clstag="pageclick|keycount|mycoupon_new_201610184|16">我的优惠券</a>
                                </li>
                            </ul>
                            <div class="extra-r">
                            </div>
                        </div>

                        <div class="mc">

                            <input id="page-url-tabCountType" hidden="hidden" tabCountType=""/>
                                <div class="coupon-items">


										<div class="coupon-item coupon-item-d " th:each="yhq:${list}">
											<div class="c-type">
												<div class="c-price">
													<em>&yen;</em>
													<strong><span th:text="${yhq.yhqprice}" th:value="${yhq.yhqprice}"/></span></strong>
													<span class="type">东券</span>
												</div>
												<div class="c-limit">
													<span th:if="${yhq.yhqmenkan} ==1"th:text="满50元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==2"th:text="满100元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==3"th:text="满200元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==4"th:text="满500元使用" th:value="${yhq.yhqmenkan}"/></span>
													<span th:if="${yhq.yhqmenkan} ==5"th:text="满1000元使用" th:value="${yhq.yhqmenkan}"/></span>
												</div>
												<div class="c-time">&nbsp;&nbsp;</div>
												<div class="c-time"></div>
												<div class="c-type-top"></div>
												<div class="c-type-bottom"></div>
											</div>

											<div class="c-msg">
												<div class="c-range">
													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="限品类" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;仅可购买<span th:text="${yhq.yhqname}" th:value="${yhq.yhqname}"></span>商品</span>
													</div>

													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="券编号" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.id}" th:value="${yhq.id}"></span></span>
													</div>

													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="生效日期" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.yhqstartdate}" th:value="${yhq.yhqstartdate}"/></span></span>
													</div>
													<div class="range-item">
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="失效日期" th:color="black"/></span></span>
														<span class="txt-center">&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${yhq.yhqdate}" th:value="${yhq.yhqdate}"/></span></span>
													</div>


												</div>

												<div class="op-btns">
													<a href="//search.jd.com/Search?coupon_batch=248000362&amp;coupon_id=39351560627" class="btn" target="_blank" clstag="pageclick|keycount|mycoupon_new_201610184|9"><span class="txt">立即使用</span><b></b></a>
												</div>

												<div class="ftx-03 ac mt5">&nbsp;&nbsp;</div>




											</div>


										</div>


                                </div>

                                <div class="ui-page-wrap clearfix">
                                    <div id="page-url" class="ui-page" url="/user_quan.action?tab=&couponType=-1&sort=3&page" pageNum="1" pageType="1" couponType="-1"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w">
        <div id="product-track"></div>
    </div>

    <!--service start-->
<!--service end-->
    <!--footer start-->
<!--footer end-->

    <script type="text/javascript" src="//misc.360buyimg.com/user/myjd-2015/js/page/coupon/usercoupon.js"></script>
    <script type="text/javascript" src="//wl.jd.com/wl.js"></script>


    <script type="text/javascript" src="//wl.jd.com/wl.js"></script>

</body>



<script type="text/javascript">
function tomyorder() {
	location.href="/zhf/queryorderbyuid"
}

</script>




</html>