<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<center>
    <input type="hidden" id="itemId2" th:value="${com.itemId}"/>
    <input type="hidden" name="sellquantity" th:value="${com.sellquantity}"/>
    <input type="hidden" name="colorId" th:value="${com.colorId}"/>
    <input type="hidden" name="createDate" th:value="${com.createDate}"/>
    <form role="form" id="updForm">
        <input type="hidden" name="id"  style="width: 300px;" th:value="${id}"  />
        <input type="hidden" name="typeId"  style="width: 300px;" th:value="${com.typeId}"/>
        <div class="form-group">
            <label >商品名称</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityName}"  name="commodityName"/>
        </div>
        <div class="form-group">
            <label >库存</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.inventory}"  name="inventory"/>
        </div>
        <div class="form-group">
            <label >商品货号</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.artNo}" name="artNo" />
        </div>
        <div class="form-group">
            <label >商品分类</label>
            <select  style="width: 300px;"  class="form-control"  id="commodityType1111" name="typeId" onchange="queryAllDran(this.value)"></select>
        </div>
        <div class="form-group">
            <label >商品品牌</label>
            <select  style="width: 300px;"  class="form-control"  id="dranEcho" name="itemId" ></select>
        </div>
        <div class="form-group">
            <label >供货商</label>
            <select style="width: 300px;" class="form-control">
                <option>仅支持本店出售</option>
            </select>
        </div>
        <div class="form-group">
            <label >本店售价</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityPrice}"  name="commodityPrice" />
            <br>
            <font color="red" size="3">商品或热销只能选择一项</font>
            热销:<input type="radio" name="newProduct" value="2" th:field="*{com.newProduct}"/>
            新品:<input type="radio" name="newProduct" value="1" th:field="*{com.newProduct}"/>

            <div class="form-group">
                <div class="col-md-2">
                    <label >商品图片</label>
                </div>
                <div class="col-md-10" >
                    <img id="aa" th:src="${com.pictureUrl}" height="50px">
                    <input type="hidden" id="qqq" name="pictureUrl" th:value="${com.pictureUrl}"/>
                    <input type="file" style="width: 10px;"  name="imgg" id="headImg">
                </div>
            </div>

        </div>
    </form>

</center>
</body>
<script>
    $(function(){
        uploadImg();
        loadCommodityType();
    })

    function uploadImg(url){
        $('#headImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '../lmh/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {

            var imgval = $('#testimg').val();
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.responseText;
            }/*else{
			imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
		}*/
            $('#qqq').val(imgval);
            $('#aa').attr("src",imgval);
        });
    }

    //回显类型
    function  loadCommodityType() {
        var typeIds = $("[name='typeId']").val();
        $.ajax({
            url:"../zch/queryCommodityType",
            type:"post",
            dataType:"json",
            success:function(data){
                var html = "<option value='-1'>所有分类</option>";
                for(var i=0;i<data.length;i++){
                    var ids = "";
                    if(data[i].typeId==typeIds){
                        html+="<option value='"+data[i].typeId+"' selected >"+data[i].typeName+"</option>";
                        ids = data[i].typeId;
                        queryAllDran(ids);
                    }else{
                        html+="<option value='"+data[i].typeId+"'>"+data[i].typeName+"</option>";
                    }
                }
                $("#commodityType1111").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }

    //回显平牌
    function  queryAllDran(ids) {
        var itt = $("#itemId2").val();
        $.ajax({
            url:"../zch/updAllDran",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>请先选择商品类型</option>";
                for(var i=0;i<data.length;i++){
                    if(itt==data[i].itemId){
                        html+="<option value='"+data[i].itemId+"' selected>"+data[i].name+"</option>";
                    }else{
                        html+="<option value='"+data[i].itemId+"'>"+data[i].name+"</option>";
                    }
                }
                $("#dranEcho").html(html);
            },
            error:function(){
                alert("查询商品平牌失败");
            }
        })
    }
</script>
</html>