<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js3/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/js3/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的js、css -->
    <link rel="stylesheet" href="/js3/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="/js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/js3/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js3/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入删除提示框 -->
    <script type="text/javascript" src="/js3/bootbox/bootbox.min.js"></script>
    <!-- 引入时间的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script  src="/js3/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script  src="/js3/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/js3/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="/js3/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
<center>
    <input type="hidden" id="itemId" th:value="${com.itemId}"/>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="ret()">返回</button>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="upd()">修改</button>
    <form role="form" id="updForm">
        <input type="hidden" name="id" id="ids" style="width: 300px;" th:value="${id}"  />
        <input type="hidden" name="id" id="typeIds" style="width: 300px;" th:value="${com.typeId}"/>
        <input type="hidden" id="pictureUrl" name="pictureUrl" style="width: 300px;"  />
        <div class="form-group">
            <label >商品名称</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityName}"  name="commodityName"/>
        </div>
        <div class="form-group">
            <label >库存</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.inventory}"  name="inventory"/>
        </div>
        <div class="form-group">
            <label >商品货号</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.artNo}" name="artNo" />
        </div>
        <div class="form-group">
            <label >商品分类</label>
            <select  style="width: 300px;"  class="form-control"  id="commodityType" name="typeId" onchange="queryAllDran(this.value)"></select>
        </div>
        <div class="form-group">
            <label >商品品牌</label>
            <select  style="width: 300px;"  class="form-control"  id="dranEcho" name="itemId" ></select>
        </div>
        <div class="form-group">
            <label >供货商</label>
            <select style="width: 300px;" class="form-control">
                <option>仅支持本店出售</option>
            </select>
        </div>
        <div class="form-group">
            <label >本店售价</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityPrice}"  name="commodityPrice" />
            <br>
            <font color="red" size="3">商品或热销只能选择一项</font>
            热销:<input type="radio" name="newProduct" value="2" th:checked="${com.newProduct==2}"/>
            新品:<input type="radio" name="newProduct" value="1" th:checked="${com.newProduct==1}"/>

            <div class="form-group">
                <div class="col-md-2">
                    <label >商品图片</label>
                </div>
                <div class="col-md-10" >
                    <img id="aa" th:src="${com.pictureUrl}" height="50px">
                    <input type="hidden" id="qqq" name="pictureUrl" />
                    <input type="file" style="width: 10px;"  name="imgg" id="headImg">
                </div>
            </div>

        </div>
    </form>

</center>
</body>
<script>
    $(function(){
        uploadImg();
        loadCommodityType();
        //queryAllDran();
    })

    function uploadImg(url){
        $('#headImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '../lmh/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {

            var imgval = $('#testimg').val();
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.responseText;
            }/*else{
			imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
		}*/
            $('#qqq').val(imgval);
            $('#aa').attr("src",imgval);
        });
    }
    //返回
    function ret(){
        location.href="../toshow/toCommodity";
    }

    //跳转弹框
    var res;
    function createAddContent(url) {
        alert(url);
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }


    //修改
    function  upd() {
        var uploadFile = $("#uploadFile").val();
        $("#pictureUrl").val(uploadFile);
        //alert(uploadFile);
        $.ajax({
            url:"../zch/updCommodity",
            type:"post",
            data:$("#updForm").serialize(),
            dataType:"json",
            success:function () {
                alert("修改成功");
            },
            error:function () {
                alert("修改失败");
            }
        })
    }

    //回显类型
    function  loadCommodityType() {
        var typeIds = $("#typeIds").val();
        $.ajax({
            url:"../zch/queryCommodityType",
            type:"post",
            dataType:"json",
            success:function(data){
                var html = "<option value='-1'>所有分类</option>";
                for(var i=0;i<data.length;i++){
                    var ids = "";
                    if(data[i].typeId==typeIds){
                        html+="<option value='"+data[i].typeId+"' selected >"+data[i].typeName+"</option>";
                        ids = data[i].typeId;
                        queryAllDran(ids);
                    }else{
                        html+="<option value='"+data[i].typeId+"' ${data[i].typeId==2? selected:''}  >"+data[i].typeName+"</option>";
                    }
                }
                $("#commodityType").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }

    //回显平牌
    function  queryAllDran(ids) {
        var itemId = $("#itemId").val();
        $.ajax({
            url:"../zch/updAllDran",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>请先选择商品类型</option>";
                for(var i=0;i<data.length;i++){
                    if(itemId==data[i].itemId){
                        html+="<option value='"+data[i].itemId+"' selected>"+data[i].name+"</option>";
                    }else{
                        html+="<option value='"+data[i].itemId+"' ${data[i].itemId==2? selected:''}>"+data[i].name+"</option>";
                    }
                }

                $("#dranEcho").html(html);
            },
            error:function(){
                alert("查询商品平牌失败");
            }
        })
    }
</script>
</html>