<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" />
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" />
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<center>
    <input type="hidden" id="itemId" th:value="${com.itemId}"/>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="ret()">返回</button>
    <button type="button"  class="btn btn-Warning btn-lg" onclick="upd()">修改</button>
    <form role="form" id="updForm">
        <input type="hidden" name="id" id="ids" style="width: 300px;" th:value="${id}"  />
        <input type="hidden" name="id" id="typeIds" style="width: 300px;" th:value="${com.typeId}"/>
        <input type="hidden" id="pictureUrl" name="pictureUrl" style="width: 300px;"  />
        <div class="form-group">
            <label >商品名称</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityName}"  name="commodityName"/>
        </div>
        <div class="form-group">
            <label >库存</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.inventory}"  name="inventory"/>
        </div>
        <div class="form-group">
            <label >商品货号</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.artNo}" name="artNo" />
        </div>
        <div class="form-group">
            <label >商品分类</label>
            <select  style="width: 300px;"  class="form-control"  id="commodityType" name="typeId" onchange="queryAllDran(this.value)"></select>
        </div>
        <div class="form-group">
            <label >商品品牌</label>
            <select  style="width: 300px;"  class="form-control"  id="dranEcho" name="itemId" ></select>
        </div>
        <div class="form-group">
            <label >供货商</label>
            <select style="width: 300px;" class="form-control">
                <option>仅支持本店出售</option>
            </select>
        </div>
        <div class="form-group">
            <label >本店售价</label>
            <input type="text" class="form-control" style="width: 300px;" th:value="${com.commodityPrice}"  name="commodityPrice" />
            <br><br>
            商品或热销只能选择一项
            热销:<input type="radio" name="newProduct" value="2" th:checked="${com.newProduct==2}"/>
            新品:<input type="radio" name="newProduct" value="1" th:checked="${com.newProduct==1}"/>


        </div>
        <div class="form-group">
            <div class="col-sm-10" >
                <div class="file-loading">
                    <input id="uploadFile"  style="width: 10px;"  type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2" />
                </div>
            </div>
        </div>

    </form>

</center>
</body>
<script>
    $(function(){
        loadCommodityType();
        //queryAllDran();
    })

    //返回
    function ret(){
        location.href="../toshow/toCommodity";
    }

    //跳转弹框
    var res;
    function createAddContent(url) {
        alert(url);
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }


    //修改
    function  upd() {
        var uploadFile = $("#uploadFile").val();
        $("#pictureUrl").val(uploadFile);
        //alert(uploadFile);
        $.ajax({
            url:"../zch/updCommodity",
            type:"post",
            data:$("#updForm").serialize(),
            dataType:"json",
            success:function () {
                alert("修改成功");
            },
            error:function () {
                alert("修改失败");
            }
        })
    }

    //回显类型
    function  loadCommodityType() {
        var typeIds = $("#typeIds").val();
        $.ajax({
            url:"../zch/queryCommodityType",
            type:"post",
            dataType:"json",
            success:function(data){
                var html = "<option value='-1'>所有分类</option>";
                for(var i=0;i<data.length;i++){
                    var ids = "";
                    if(data[i].typeId==TypeIds){
                        html+="<option value='"+data[i].typeId+"' selected >"+data[i].typeName+"</option>";
                        ids = data[i].typeId;
                        queryAllDran(ids);
                    }else{
                        html+="<option value='"+data[i].typeId+"' ${data[i].typeId==2? selected:''}  >"+data[i].typeName+"</option>";
                    }
                }
                $("#commodityType").html(html);
            },
            error:function(){
                alert("查询商品类型失败");
            }
        })
    }

    //回显平牌
    function  queryAllDran(ids) {
        var itemId = $("#itemId").val();
        $.ajax({
            url:"../zch/updAllDran",
            type:"post",
            data:{ids:ids},
            dataType:"json",
            success:function(data){
                var html = "<option value=''>请先选择商品类型</option>";
                for(var i=0;i<data.length;i++){
                    if(itemId==data[i].itemId){
                        html+="<option value='"+data[i].itemId+"' selected>"+data[i].name+"</option>";
                    }else{
                        html+="<option value='"+data[i].itemId+"' ${data[i].itemId==2? selected:''}>"+data[i].name+"</option>";
                    }
                }

                $("#dranEcho").html(html);
            },
            error:function(){
                alert("查询商品平牌失败");
            }
        })
    }
</script>
</html>