<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<input type="hidden" id="ids" th:value="${ids}">
<div id="treeDiv"></div>
</body>
<script>
    $(function(){
        showTree();
    })
    function showTree(){
        var id = $("#ids").val();
        $.ajax({
            url:'../hb/comments?id='+id,
            type : "post",
            success:function(data){
                $("#treeDiv").treeview({
                    //data属性 树节点信息 json数组
                    data: data,
                    //tree默认展开的节点级别默认为2
                    levels: 0,

                })
            },error : function (){
                alert("查询失败");
            }
        })
    }
</script>
</html>