<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js3/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/js3/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的js、css -->
    <link rel="stylesheet" href="/js3/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="/js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/js3/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js3/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js3/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- latest fonts awesome -->
    <link rel="stylesheet" href="../assets/font/css/font-awesome.min.css" type="text/css">
    <!-- simple line fonts awesome -->
    <link rel="stylesheet" href="../assets/simple-line-icon/css/simple-line-icons.css" type="text/css">
    <!-- stroke-gap-icons -->
    <link rel="stylesheet" href="../assets/stroke-gap-icons/stroke-gap-icons.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../assets/css/slider.css" type="text/css">
    <!--  baguetteBox -->
    <link rel="stylesheet" href="../assets/css/baguetteBox.css">
    <!-- Owl Carousel ../assets -->
    <link href="../assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<input type="hidden" id="itemId2" th:value="${pName}"/>
<header class="header2">
    <!--头部导航栏-->
    <div class="top-header">
        <div class="container">

            <div class="col-md-6">
                <div class="top-header-right">

                </div>
            </div>
        </div>
        <!--  /top-header  -->
    </div>
</header>
<!-- newsletter -->
<section class="grid-shop">
    <!-- .grid-shop -->
    <div class="container">
        <div class="row">

            <div class="col-sm-9 col-md-9">

                <div class="grid-spr">
                    <div class="col-sm-6 col-md-6"> <a href="#" class="grid-view-icon"><i class="fa fa-th-large" aria-hidden="true"></i></a> <a href="#" class="list-view-icon"><i class="fa fa-list" aria-hidden="true"></i></a>
                        <div class="select-option">
                            <a class="btn btn-default btn-select options2">
                                <input type="hidden" class="btn-select-input" id="1" name="1" value="" />
                                <span class="btn-select-value">Select an Item</span>
                                <span class="btn-select-arrow fa fa-angle-down"></span>
                                <ul>
                                    <li class="selected">Default Sorting</li>
                                    <li>Option 1</li>
                                    <li>Option 2</li>
                                    <li>Option 3</li>
                                    <li>Option 4</li>
                                </ul>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right"> <strong>Showing 1-12 <span>of 30 relults</span></strong> </div>
                </div>
                <input type="hidden"  id="branId" th:value="${branId}"/>
                <div id="imgSc"></div>



            </div>
        </div>
    </div>
    <!-- /.grid-shop -->
</section>
<!--尾部-->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">


                <!-- e-product -->
            </div>
            <!-- /f-weghit -->
        </div>
        <!-- copayright -->
        <div class="copayright">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">Copyright &copy; 2017.Company name All rights reserved.</div>
                <div class="text-right col-xs-12 col-sm-6 col-md-6"> <img src="../assets/images/payment-img.jpg" alt="payment-img" /> </div>
            </div>
        </div>
        <!-- /copayright -->
    </div>
    </div>
</footer>
</body>
<script>
    $(function (){
        loadbranImgShow2();
    })

    //展示图片等信息
    function loadbranImgShow2() {
        var itemId2 = $("#itemId2").val();
        $.ajax({
            url:"../zch/querysolr",
            type:"post",
            data:{pName:itemId2},
            dataType:"json",
            success:function(data){
                var imgSrc = "";
                for (var i=0;i<data.length;i++){
                    imgSrc += "<img onclick='queryOneDetails("+data[i].id+")' src='"+data[i].pictureUrl+"' width='400' height='400'><br>" +
                        "<font size='5'>商品名称:"+data[i].commodityName+"</font><br>" +
                        "<font color='red' size='5'>$:"+data[i].commodityPrice+"</font>" +
                        "<hr size='50px' width='200%' color='red'><br>";
                }
                $("#imgSc").html(imgSrc);
            },
            error:function(){
                alert("查询失败");
            }
        })
    }

    //查询商品详情信息
    function queryOneDetails(val) {
        window.open("../toshow/toParticulars?ids="+val);
    }
</script>
</html>