<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.HbDao" >

 <select id="getTreeAll" resultType="Tree">
     select * from t_tree
 </select>

    <select id="querymenmberscount" parameterType="HashMap" resultType="Int">
        select count(*) from members
    </select>

    <select id="HashMap" parameterType="HashMap" resultType="Members">
        select * from  members LIMIT #{start},#{end}
    </select>

    <update id="saveDialog" parameterType="map">
        update t_user set password=#{sysNewPWInp} where userid=#{userid}
    </update>

    <update id="updateAll1" parameterType="Integer">
        update members set type =2 where id=#{id}
    </update>

    <update id="updateAll2" parameterType="Integer">
        update members set type =1 where id=#{id}
    </update>

    <select id="login" parameterType="String" resultType="Audit">
        select * from audit where name=#{name}
    </select>

    <update id="updateaudit1" parameterType="Integer">
        update t_item set status =1 where id=#{id}
    </update>

    <update id="updateaudit2" parameterType="Integer">
        update t_item set status =3 where id=#{id}
    </update>

    <!--查询条数-->
    <select id="queryCommodityCount" resultType="long">
        select count(*) from t_item te
        left join t_commoditytype ty on ty.typeId=te.TypeId
        WHERE te.status = 2
    </select>

    <!--分页查询-->
    <select id="queryCommodity" parameterType="hashMap" resultType="com.jk.model.commodity.CommodityModel">
        select te.id,te.commodityName,te.artNo,te.commodityPrice,te.status,te.newProduct,te.inventory,ty.typeName   from t_item te
        left join t_commoditytype ty on ty.typeId=te.TypeId
        LIMIT #{start},#{end}
    </select>

    <select id="comments" parameterType="Integer" resultType="Comments">
        select * from comments where sid=#{id}
    </select>

    <!--查询失败总条数-->
    <select id="suditFailure" resultType="long">

        select count(*) from t_item te
        left join t_commoditytype ty on ty.typeId=te.TypeId
        WHERE te.status = 3
    </select>

    <!--查询失败所有数据-->
    <select id="suditFailureList" parameterType="hashMap" resultType="com.jk.model.commodity.CommodityModel">
        select te.id,te.commodityName,te.artNo,te.commodityPrice,te.status,te.newProduct,te.inventory,ty.typeName   from t_item te
        left join t_commoditytype ty on ty.typeId=te.TypeId
        WHERE te.status = 3
        LIMIT #{start},#{end}
    </select>

    <!--删除-->
    <delete id="delAll" parameterType="int">
        DELETE from  t_item WHERE id in(
           <foreach collection="array" index="index" separator="," item="item">
               #{item}
           </foreach>
        )
    </delete>

</mapper>