<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.YhqMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Yhq" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="yhqName" property="yhqname" jdbcType="VARCHAR" />
    <result column="yhqPrice" property="yhqprice" jdbcType="DOUBLE" />
    <result column="yhqDate" property="yhqdate" jdbcType="VARCHAR" />
    <result column="yhqMenkan" property="yhqmenkan" jdbcType="VARCHAR" />
    <result column="yhqUse" property="yhquse" jdbcType="INTEGER" />
    <result column="yhqDes" property="yhqdes" jdbcType="VARCHAR" />
    <result column="yhqLevel" property="yhqlevel" jdbcType="INTEGER" />
    <result column="yhqStartDate" property="yhqstartdate" jdbcType="VARCHAR" />
    <result column="yhqImg" property="yhqimg" jdbcType="VARCHAR" />
    <result column="yhqStatus" property="yhqstatus" jdbcType="INTEGER" />
    <result column="yhqUserId" property="yhquserid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, yhqName, yhqPrice, yhqDate, yhqMenkan,  yhqUse, yhqDes, yhqLevel, yhqStartDate, yhqImg,yhqStatus,yhqUserId
  </sql>


  <select id="queryYhq" resultMap="BaseResultMap">
    select count(*),c.* from clp_yhq c GROUP BY c.yhqName
    limit #{sta},#{pageSize}
  </select>

  <select id="queryCount" resultType="long">
    SELECT COUNT(*) FROM (select id from clp_yhq c GROUP BY c.yhqName) t
  </select>


  <select id="toUpdClpYhqPage" resultMap="BaseResultMap">
    select * from clp_yhq where id = #{id}
  </select>

  <select id="queryClpYhq" resultMap="BaseResultMap">
    select * from clp_yhq c where c.yhqstatus=1 GROUP BY c.yhqName
  </select>

  <select id="queryClpYhq2" resultMap="BaseResultMap">
    select * from clp_yhq where  yhqStatus=2 and yhquserid=#{mid}
  </select>







  <insert id="addYhq" parameterType="java.util.List">
    INSERT INTO clp_yhq (yhqName, yhqPrice,
     yhqDate, yhqMenkan,
     yhqUse, yhqDes,
    yhqLevel, yhqStartDate, yhqImg,yhqStatus) VALUES
    <foreach collection="list" item="l" separator=","  >
      (#{l.yhqname},#{l.yhqprice},#{l.yhqdate},#{l.yhqmenkan},0,#{l.yhqdes},1,#{l.yhqstartdate},#{l.yhqimg},1)

    </foreach>

  </insert>


    <delete id="deleteYhqByName">
      DELETE FROM clp_yhq where yhqName in (${names});
    </delete>



    <update id="updateYhqUse">
      update clp_yhq set yhqStatus=2,yhqUserId=#{mid},yhquse=yhquse+1 where id=#{id}
    </update>










  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from clp_yhq
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clp_yhq
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Yhq" >
    insert into clp_yhq (id, yhqName, yhqPrice,
                          yhqDate, yhqMenkan,
                          yhqUse, yhqDes,
                         yhqLevel, yhqStartDate, yhqImg
    )
    values (#{id,jdbcType=INTEGER}, #{yhqname,jdbcType=VARCHAR}, #{yhqprice,jdbcType=DOUBLE},
             #{yhqdate,jdbcType=VARCHAR}, #{yhqmenkan,jdbcType=VARCHAR},
             #{yhquse,jdbcType=INTEGER}, #{yhqdes,jdbcType=VARCHAR},
            #{yhqlevel,jdbcType=INTEGER}, #{yhqstartdate,jdbcType=VARCHAR}, #{yhqimg,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Yhq" >
    insert into clp_yhq
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="yhqname != null" >
        yhqName,
      </if>
      <if test="yhqprice != null" >
        yhqPrice,
      </if>

      <if test="yhqdate != null" >
        yhqDate,
      </if>
      <if test="yhqmenkan != null" >
        yhqMenkan,
      </if>

      <if test="yhquse != null" >
        yhqUse,
      </if>
      <if test="yhqdes != null" >
        yhqDes,
      </if>
      <if test="yhqlevel != null" >
        yhqLevel,
      </if>
      <if test="yhqstartdate != null" >
        yhqStartDate,
      </if>
      <if test="yhqimg != null" >
        yhqImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yhqname != null" >
        #{yhqname,jdbcType=VARCHAR},
      </if>
      <if test="yhqprice != null" >
        #{yhqprice,jdbcType=DOUBLE},
      </if>

      <if test="yhqdate != null" >
        #{yhqdate,jdbcType=VARCHAR},
      </if>
      <if test="yhqmenkan != null" >
        #{yhqmenkan,jdbcType=VARCHAR},
      </if>

      <if test="yhquse != null" >
        #{yhquse,jdbcType=INTEGER},
      </if>
      <if test="yhqdes != null" >
        #{yhqdes,jdbcType=VARCHAR},
      </if>
      <if test="yhqlevel != null" >
        #{yhqlevel,jdbcType=INTEGER},
      </if>
      <if test="yhqstartdate != null" >
        #{yhqstartdate,jdbcType=VARCHAR},
      </if>
      <if test="yhqimg != null" >
        #{yhqimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Yhq" >
    update clp_yhq
    <set >
      <if test="yhqname != null" >
        yhqName = #{yhqname,jdbcType=VARCHAR},
      </if>
      <if test="yhqprice != null" >
        yhqPrice = #{yhqprice,jdbcType=DOUBLE},
      </if>

      <if test="yhqdate != null" >
        yhqDate = #{yhqdate,jdbcType=VARCHAR},
      </if>
      <if test="yhqmenkan != null" >
        yhqMenkan = #{yhqmenkan,jdbcType=VARCHAR},
      </if>

      <if test="yhquse != null" >
        yhqUse = #{yhquse,jdbcType=INTEGER},
      </if>
      <if test="yhqdes != null" >
        yhqDes = #{yhqdes,jdbcType=VARCHAR},
      </if>
      <if test="yhqlevel != null" >
        yhqLevel = #{yhqlevel,jdbcType=INTEGER},
      </if>
      <if test="yhqstartdate != null" >
        yhqStartDate = #{yhqstartdate,jdbcType=VARCHAR},
      </if>
      <if test="yhqimg != null" >
        yhqImg = #{yhqimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Yhq" >
    update clp_yhq
    set yhqName = #{yhqname,jdbcType=VARCHAR},
        yhqPrice = #{yhqprice,jdbcType=DOUBLE},
        yhqDate = #{yhqdate,jdbcType=VARCHAR},
        yhqMenkan = #{yhqmenkan,jdbcType=VARCHAR},
        yhqDes = #{yhqdes,jdbcType=VARCHAR},
        yhqStartDate = #{yhqstartdate,jdbcType=VARCHAR},
        yhqImg = #{yhqimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>